/* 
RESPONSIVE TEMPLATE

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 375px) {}
@media only screen and (min-width: 425px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1440px) {}
*/

@media only screen and (min-width: 320px) {
  .sosmed-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 50px auto 50px auto;
    gap: 30px;
  }

  .facebook-section,
  .linkedin-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .facebook-section > img,
  .linkedin-section > img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .sosmed-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin: 50px auto 50px auto;
    gap: 30px;
    max-width: 1050px;
  }

  .facebook-section,
  .linkedin-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .facebook-section > img,
  .linkedin-section > img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
