.logique-nav.logique-nav--update {
    width: 90px;
}
  

.logique-nav.logique-nav--update .margin-for-nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logique-nav.logique-nav--update .margin-for-nav > div {
    background-color: transparent;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 0;
    height: 80px;
}

.logique-nav.logique-nav--update .margin-for-nav > div.active {
    background-image: url('/img/sidebar/hover.png');
    background-size: 100%;
    background-position: 3px center;
    background-repeat: no-repeat;
}

.logique-nav.logique-nav--update .margin-for-nav > div > a > div {
    margin-bottom: -5px;
}

.logique-nav.logique-nav--update .margin-for-nav > div > a > div {
    transition: all .8s;
}

.logique-nav a {
    font-family: 'Novocento Sans Wide Medium' !important;
    color: #000;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-weight: 600 !important;
}
.logique-nav.in-jp a {
    font-size: 10px;
    line-height: 1.3;
}

/* icons */
.logique-nav.logique-nav--update .margin-for-nav > div > a > div {
    transition: all .8s;
  }
.logique-nav.logique-nav--update .margin-for-nav > div.active {
    background-image: url('/img/sidebar/hover.png');
    background-size: 100%;
    background-position: 3px center;
    background-repeat: no-repeat;
}
.img-home {
    margin: auto;
    background: url('/img/sidebar/home.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-home,
.logique-nav .text-center.active:focus .img-home,
.logique-nav .text-center.active:hover .img-home,
.logique-nav .text-center:focus .img-home,
.logique-nav .text-center:hover .img-home {
    background: url('/img/sidebar/home-active.svg') center/28px no-repeat;
}

.img-about {
    margin: auto;
    background: url('/img/sidebar/about.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-about,
.logique-nav .text-center.active:focus .img-about,
.logique-nav .text-center.active:hover .img-about,
.logique-nav .text-center:focus .img-about,
.logique-nav .text-center:hover .img-about {
    background: url('/img/sidebar/about-active.svg') center/28px no-repeat;
}

.img-portfolio {
    margin: auto;
    background: url('/img/sidebar/portfolio.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-portfolio,
.logique-nav .text-center.active:focus .img-portfolio,
.logique-nav .text-center.active:hover .img-portfolio,
.logique-nav .text-center:focus .img-portfolio,
.logique-nav .text-center:hover .img-portfolio {
    background: url('/img/sidebar/portfolio-active.svg') center/28px no-repeat;
}

.img-services {
    margin: auto;
    background: url('/img/sidebar/service.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-services,
.logique-nav .text-center.active:focus .img-services,
.logique-nav .text-center.active:hover .img-services,
.logique-nav .text-center:focus .img-services,
.logique-nav .text-center:hover .img-services {
    background: url('/img/sidebar/service-active.svg') center/28px no-repeat;
}
.img-product {
    margin: auto;
    background: url('/img/sidebar/product.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-product,
.logique-nav .text-center.active:focus .img-product,
.logique-nav .text-center.active:hover .img-product,
.logique-nav .text-center:focus .img-product,
.logique-nav .text-center:hover .img-product {  
    background: url('/img/sidebar/product-active.svg') center/28px no-repeat;
}

.img-career {
    margin: auto;
    background: url('/img/sidebar/career.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-career,
.logique-nav .text-center.active:focus .img-career,
.logique-nav .text-center.active:hover .img-career,
.logique-nav .text-center:focus .img-career,
.logique-nav .text-center:hover .img-career {
    background: url('/img/sidebar/career-active.svg') center/28px no-repeat;
}

.img-contact {
    margin: auto;
    background: url('/img/sidebar/contact.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-contact,
.logique-nav .text-center.active:focus .img-contact,
.logique-nav .text-center.active:hover .img-contact,
.logique-nav .text-center:focus .img-contact,
.logique-nav .text-center:hover .img-contact {
    background: url('/img/sidebar/contact-active.svg') center/28px no-repeat;
}

.img-blog {
    margin: auto;
    background: url('/img/sidebar/blog.svg') center/28px no-repeat;
}

.logique-nav .text-center.active .img-blog,
.logique-nav .text-center.active:focus .img-blog,
.logique-nav .text-center.active:hover .img-blog,
.logique-nav .text-center:focus .img-blog,
.logique-nav .text-center:hover .img-blog {
    background: url('/img/sidebar/blog-active.svg') center/28px no-repeat;
}
/* end icons */