.flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
/* spacing */
.mb--60px {
    margin-bottom: 60px;
}

.pt--0,
.py--0 {
    padding-top: 0;
}
.pt--20px,
.py--20px {
    padding-top: 20px;
}

.pb--0,
.py--0 {
    padding-bottom: 0;
}
.pb--20px,
.py--20px {
    padding-bottom: 20px;
}

.pr--10px {
    padding-right: 10px;
}

.p--0 {
    padding: 0;
}


/* 
    ``````````````````````````````````````````````````````````````````````
    Reference for below class : https://tailwindcss.com/docs/utility-first

    ``````````````````````````````````````````````````````````````````````
*/

.relative {
    position: relative !important;
}

.-left-1{
    left: -4px !important; 
}

.-left-2{
    left: -8px !important; 
}

.left-0 {
    left: 0px !important; 
}

.left-1 {
    left: 4px !important ;
}

.bottom-0 {
    bottom: 0px !important;
}

.bottom-1 {
    bottom: 4px !important;
}

/* 
    MARGIN
*/

.m-0{
    margin: 0px;
}

.m-1{
    margin: 4px;
}

.m-2{
    margin: 8px;
}

.mt-2 {
    margin-top: 8px !important;
}

.mt-3 {
    margin-top: 12px !important;
}

.mt-4 {
    margin-top: 16px !important;
}

.mt-5 {
    margin-top: 20px !important;
}

.mt-6 {
    margin-top: 24px !important;
}

.mt-7 {
    margin-top: 28px !important;
}

.mt-12 {
    margin-top: 48px !important;
}

.mt-20 {
    margin-top: 80px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.ml-0 {
    margin-left: 0px !important;
}

.mr-0 {
    margin-right: 0px;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

/* 
    PADDING 
*/
.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-7 {
    padding-bottom:  1.75rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pb-9 {
    padding-bottom: 2.25rem;
}

.pb-40 {
    padding-bottom: 10rem;
}

/* 
    FLEX
*/

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row !important;
}

.justify-center{
    justify-content: center;
}

.self-item-center{
    align-self: center;
    flex-basis: auto;
}

.text-white {
    color: rgb(255, 255, 255)
}

.text-blue-card {
    color: rgb(26, 38, 98);  
}

ul .approach-items {
    list-style: none;
}
  
li.approach-item::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #cf212b;
    border-radius: 100%;
    left: -8px;
    margin-top: 8px;
}

.text-center {
    text-align: center;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

/* 
    BACKGROUNDS
*/
.bg-none {
    background-image: none !important; 
}


.card-result {
    width: 100%;
    height: 106px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.21);
}

.box-thumbnail {
    transition: box-shadow .3s;
    width: 100%;   
    height: 100%;
    border-radius:2px;
}


.box-thumbnail:hover {
    -webkit-box-shadow: 0px 2px 5px 2px grey;
    -moz-box-shadow: 0px 2px 5px 2px grey;
    box-shadow: 0px 2px 5px 2px grey;
  }




