@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
  font-family: "Novocento Sans Wide";
  src: url('/fonts/Novecentosanswide-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Novocento Sans Wide Medium";
  src: url('/fonts/Novecentosanswide-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}



.our-service__btn-wrapper {
  display: flex;
  justify-content: center;
}

.main-btn {
  border: solid 1px black;
  border-radius: 7px;
  padding: 10px 25px;
  margin: 10px;
  min-width: 130px;
  cursor: pointer;
  font-size: 18px;
  color: #000 !important;
  transition: all 0.3s ease-in-out;
}

.--back-top .main-btn {
  min-width: 180px;
  margin-left: 25px;
  margin-right: 25px;
}

.main-btn:hover {
  background-color: #ffca13;
  border-color: #ffca13;
}

.main-btn.--yellow {
  background-color: #ffca13;
  border-color: #ffca13;
}

.main-btn.--yellow:hover {
  background-color: black;
  border-color: white;
  color: #fff !important;
}

.main-btn.--black {
  color: white !important;
  background-color: #000;
}

.main-btn.--black:hover {
  background-color: #ffca13;
  color: black !important;
}

.service-list__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.service-list__img {
  margin-right: 20px;
  max-width: 55px;
}

.service-list__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #000;
}

.service-list__list {
  list-style: none;
}

.service-list__list a li:hover {
  color: #ffca13;
}

.web-solution__btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 425px;
}

/* JP PAGE - INLINE MODEL*/
.web-solution__btn-wrapper.--inline-model,
.jp-page .web-solution__btn-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  min-height: auto;
}
.web-solution__btn-wrapper.--inline-model {
  padding-bottom: 1.5em;
}
.web-solution__btn-wrapper.--inline-model .--ws,
.jp-page .web-solution__btn-wrapper .--ws {
  display: flex;
  align-items: center;
  min-height: 105px;
  width: 235px;
  min-width: auto;
}
.web-solution__btn-wrapper.--inline-model .web-solution__half-bg--round,
.jp-page .web-solution__half-bg--round {
  left: -45%;
}
/* END JP PAGE - INLINE MODEL*/

.web-solution__btn-wrapper .--ws {
  margin: 9px 10px;
  min-width: 350px;
  position: relative;
  overflow: hidden;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

.web-solution__half-bg--round {
  background-color: #ffca13;
  position: absolute;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  top: 50%;
  left: -30%;
  transform: translateY(-50%);
  z-index: -1;
}

.web-solution__img {
  max-width: 35px;
  max-height: 40px;
  /* margin: 2px 60px 2px 0px; */
  margin-right: 45px;
}

.workflow {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin: 35px 0 30px;
}

.workflow__item {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  flex-grow: 1;
  background: linear-gradient(#dbdbdb, #dbdbdb) bottom/100% 50% no-repeat;
}

.workflow__content {
  padding: 0 20px;
}

.workflow__img {
  max-width: 140px;
  max-height: 130px;
}

.workflow__text {
  font-weight: bold;
  padding: 5px 0 10px;
  transform: translateX(-4%);
}

.section-divider .title__yellow-line--center {
  margin-bottom: 0;
}

.service-detail__line-wrapper {
  display: flex;
}

.service-detail {
  display: flex;
  align-items: baseline;
  margin-bottom: 35px;
}

.service-detail__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.service-detail .title__yellow-line {
  margin-right: 20px;
  border-bottom-width: 10px;
  width: 35px;
}

.service-detail__content {
  display: flex;
  flex-direction: column;
}

.service-detail__btn-wrapper {
  margin-top: 20px;
}

.service-detail__btn-wrapper .main-btn {
  margin: 0;
}

.service-detail__side-img {
  display: flex;
  flex-direction: column;
}

.service-detail__side-img img {
  max-width: 230px;
  padding: 15px 5px;
}

.service-detail__side-img--left {
  align-self: flex-start;
}

.service-detail__side-img--right {
  align-self: flex-end;
}

.service-detail__side-img--center {
  align-self: center;
}

#testimonials blockquote {
  padding: 15px 45px;
}

#testimonials .custombox__slider {
  padding: 0 5%;
}

.client-testi__btn-wrapper {
  margin: 45px 0 10px;
}

.--back-top {
  display: flex;
  justify-content: center;
}

.client-testi {
  border: none;
}

.client-testi__person {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.client-testi__p-name {
  max-width: 300px;
}

.client-testi__line-wrapper {
  display: flex;
}

.client-testi__line-wrapper .title__yellow-line {
  width: 25px;
  border-bottom-width: 5px;
  border-color: #000;
  margin-right: 10px;
}

.product-slogan.--center-img {
  position: relative;
}

.--center-img .product-slogan__img {
  transform: translateY(-50%);
  top: 50%;
  max-width: 350px;
  width: 35%;
}

.--center-img .product-slogan__text {
  width: 60%;
}

/* CLIENT LIST */
.client-list__wrapper {
  padding: .3em 0;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.client-list__img {
  width: 180px;
  height: 70px;
  margin: 15px 20px;
  object-fit: contain;
}
/* END CLIENT LIST */

/* WORK TABLE */
.work-logique__table {
  text-align: center;
  margin: 3em 0;
}
.work-logique__table>thead>tr>th {
  vertical-align: middle;
  text-align: center;
  background-color: #0068b1;
  color: #fff;
  border: 3px solid #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 12px 0;
}
.work-logique__table>tbody>tr>td {
  border-bottom: none;
  border-top: none;
  border-left: 3px solid #fff;
  padding: 12px 0;
  vertical-align: middle;
  font-size: 16px;
  color: #737373;
}
.work-logique__table>tbody>tr:nth-child(odd) {
  background-color: #fff;
}
.work-logique__table>tbody>tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table__head--high {
  background-color: #e9a321 !important;
}
.table__head--middle {
  background-color: #8ad2d1 !important;
}
.table__head--low {
  background-color: #e14a5d !important;
}
.table__round {
  display: inline-block;
  padding: 1%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #fff;
}
.table__round.--high {
  background-color: #e9a321;
}
.table__round.--middle {
  background-color: #8ad2d1;
}
.table__round.--low {
  background-color: #e14a5d;
}
/* END WORK TABLE */
/* SAMPLE REPORT */
.sample-report {
  padding-top: 2em;
  padding-bottom: 2em;
}
.sample-report .col-sm-4 {
  padding: 15px;
}
.sample-report__text {
  color: #000;
}
.sample-report .col-sm-4:hover .sample-report__text {
  color: #ffca13;
}
.ekko-lightbox .modal-dialog {
  width: 70% !important;
}
@media only screen and (max-width: 415px) {
  .ekko-lightbox .modal-dialog {
    width: auto !important;
  }
}
/* END SAMPLE REPORT */

.google-badge {
  position: absolute;
  top: 0;
  left: 70%;
  max-width: 180px;
}

.google-badge.--ja {
  left: 86%;
}

.google-badge.--inpage {
  top: 48px;
  /* left: 50%; */
  left: 320px;
}

.google-badge.--inpage.--ja {
  position: relative;
  left: unset;
  display: block;
  margin: auto;
  top: 5px;
}

@media only screen and (max-width: 1024px) {
  .google-badge.--ja {
    position: relative;
    top: 10px;
    left: unset;
  }
}

@media only screen and (max-width: 768px) {
  .google-badge {
    position: relative;
    top: 10px;
    left: unset;
  }
  .google-badge.--inpage {
    position: absolute;
  }
}

@media only screen and (max-width: 415px) {
  .google-badge.--inpage {
    max-width: 150px;
    position: relative;
    display: block;
    left: unset !important;
    top: 5px;
  }
  .google-badge.--inpage.--ja {
    top: 5px;
    left: unset;
    position: relative;
    margin: auto;
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .google-badge {
    max-width: 130px;
  }
  .google-badge.--inpage {
    max-width: 120px;
    left: 100%;
  }
}

/* DOKODEMO POPUP */
 .dokodemo-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.6);
  width: 100%;
  height: 100vh;
  z-index: 2147483650;
  animation: fade-in 1.5s;
 }
 .dokodemo-popup__wrapper {
   padding: 30px;
 }
 @keyframes fade-in {
   0% {
     opacity: 0;
   }
   80% {
     opacity: 0;
   }
   100% {
    opacity: 1;
   }
 }
/* END DOKODEMO POPUP */
/* DESKTOP VIEW */
@media only screen and (min-width: 1280px) {
 .tahukah-title {
   white-space: nowrap;
 }
}
/* SM LAPTOP RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .client-list__img {
    width: 160px;
    height: 60px;
  }
}

/* TABLET RESPONSIVE */
@media only screen and (max-width: 768px) {
  .web-solution__btn-wrapper {
    flex-wrap: wrap;
  }
  .client-list__img {
    width: 150px;
    height: 50px;
  }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 414px) {
  .web-solution__btn-wrapper,
  .--back-top {
    flex-wrap: wrap;
  }
  .workflow__img {
    max-width: 100px;
  }
  .workflow__item {
    padding-bottom: 0;
  }
  .workflow__item:last-child {
    background-size: 70% 50%;
  }
  .client-list__img {
    width: 130px;
    height: 40px;
  }
}

/* MOBILE RESPONSIVE XS*/
@media only screen and (max-width: 320px) {
  .workflow__img {
    max-width: 80px;
  }
  /* .workflow__item {
    padding-bottom: 0;
  }
  .workflow__item:last-child {
    background-size: 70% 50%;
  } */
  .client-list__img {
    width: 100px;
    height: 35px;
  }
}


/* sidebar */
.logique-nav.logique-nav--update {
  border-radius: 30px;
  height: calc(100% - 11px);
  top: 5px;
  left: 5px;
  overflow: hidden;
}

.logique-nav.logique-nav--update:hover {  
  overflow-y:auto; 
  overflow-x:hidden;
  padding-right: 0;
}

.logique-nav.logique-nav--update::-webkit-scrollbar {
  width: 4px;
}
.logique-nav.logique-nav--update::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px; 
}
.logique-nav.logique-nav--update::-webkit-scrollbar-track {
  background: transparent; 
}

.logique-nav.logique-nav--update::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 25px; 
}

.logique-nav.logique-nav--update::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 25px;
}

.logique-nav.logique-nav--update .margin-for-nav > div {
  background-image: url('/img/sidebar/hover.png');
  background-color: transparent;
  background-size: 110% 150px;
  transition: background-position .6s;
  background-position: 95px center;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 0;
}

.logique-nav.logique-nav--update:hover .margin-for-nav > div {
  margin-right: -4px;
}


.logique-nav.logique-nav--update .margin-for-nav > div.active,
.logique-nav.logique-nav--update .margin-for-nav > div:hover {
  background-position-x: 0;
}

.logique-nav.logique-nav--update .margin-for-nav > div > a > div {
  transition: all .8s;
}
/* end sidebar */

[class*='update-design'].wrapper--update-design-font,
[class*='update-design'].wrapper--update-design-font * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

[class*='update-design'].wrapper--update-design-font strong {
  font-family: 'Novocento Sans Wide Medium';
}

b {
  font-weight: 700 !important;
}

[class*='update-design'].wrapper--update-design-font .title-index {
  font-size: 32px;
}


[class*='update-design'].wrapper--update-design-font .section-title {
  background: linear-gradient(#fbb03b, #fbb03b) bottom left/100px 5px no-repeat;
  padding-bottom: 25px;
}

/* flex row */
.flex__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
/* end flex row */


/* portfolio & solution */
[class*='update-design'].wrapper--update-design-font .portfolio p,
[class*='update-design'].wrapper--update-design-font .section-title + p {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 34px;
}

.solution .flex__row {  
  margin-top: 50px;
  margin-bottom: -25px;
}

.solution .flex__row > .row__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
}

.solution .flex__row > .row__item > .item__img {
  flex-basis: 70px;
  min-width: 70px;
  height: 70px;
  max-width: 70px;
  margin-right: 25px;
}

.solution .flex__row > .row__item > .item__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.solution .flex__row > .row__item > .item__text > h4 {
  font-size: 20px;
  font-weight: 500;
}

.solution .flex__row > .row__item > .item__text > p {
  color: #7a7a7a;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 28px;
}
/* end portfolio & solution */

/* case study */

.case-study .flex__row:first-of-type {
  margin-top: 55px;
  margin-bottom: 30px;
}

.case-study .flex__row:last-of-type {
  margin-bottom: 55px;
}

.case-study .row__item {
  position: relative;
  height: 300px;
}

.case-study .row__item > img {
  height: 100%;
  object-fit: cover;
}

.case-study .row__item > a  {
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(247, 250, 253, .8);
  opacity: 0;
  transition: all .4s;
}

.case-study .row__item:hover > a {
 opacity: 1;
}

.case-study .row__item > a > .item__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.case-study .row__item > a > .item__hover > img:first-child {
  width: 150px;
  height: 90px;
  object-fit: contain;
  object-position: left;
}

.case-study .row__item > a > .item__hover > h4 {
  color: #000;
  margin-top: 10px;
  font-size: 20px;
}

.case-study .row__item > a > .item__hover > p {
  color: #000;
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 10px;
}

/* end case study */

/* see-list */
.see-list .row__item > .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 40px;
  height: 250px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.see-list .row__item > .item.item--service {
  background: url('/img/bg-service.png') right no-repeat;
}
.see-list .row__item > .item.item--product {
  background: url('/img/bg-product.png') right no-repeat;
}

.see-list .row__item > .item > img:first-child {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: left;
  margin-bottom: 20px;
}

.see-list .row__item > .item > h3 {
  color: #000;
  margin-bottom: 5px;
}
/* end see-list */





.homepage-hero__card .div-service-cat {
  background-color: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1)
}

.homepage-hero__card {
  position: relative;
  bottom: -145px;
}