/* spacing */
.mb--60px {
    margin-bottom: 60px;
}

.pt--0,
.py--0 {
    padding-top: 0;
}
.pt--20px,
.py--20px {
    padding-top: 20px;
}

.pb--0,
.py--0 {
    padding-bottom: 0;
}
.pb--20px,
.py--20px {
    padding-bottom: 20px;
}

.pr--10px {
    padding-right: 10px;
}

.p--0 {
    padding: 0;
}

/* row */
.justify-content-center {
    justify-content: center;
}

/* contact */
.portfolio-update .portfolio-update__contact {
    background: url("../layanan/assets/img/img-pwa/bg-contact.jpg") center/cover no-repeat;
    background-image: url("../layanan/assets/img/img-pwa/bg-contact.webp");
}

@media (min-width: 768px) {
    .portfolio-update .portfolio-update__contact .content__image > .d-flex {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1199.98px) {
    .portfolio-update__content .container__ {
        width: auto;
    }
}

@media (max-width: 767.98px) {
    .portfolio-update .portfolio-update__contact .contact__content .content__image > .d-flex {
        justify-content: center;
    }
}