@import url(https://fonts.googleapis.com/css?family=Raleway);
html{overflow-x: hidden;}
body {
  background-color: rgba(80, 227, 194, 0.12);
  line-height: 1.7;
  font-size: 15px;
  font-family: 'Raleway', 'sans-serif';
}

img:hover {opacity: 0.8}
span, p {cursor: default;}
.fade-in {
  animation-name: nippologo;
  animation-duration: 2s;
}
@keyframes nippologo {
    0%   {opacity: 0;}
    20%  {opacity: 0.2;}
    40%  {opacity: 0.4;}
    60% {opacity: 0.6;}
    80% {opacity: 0.8;}
    100% {opacity: 1;}
}

.div-one {
  background-image: url(../img/nippo/banner.png);
  height: 723px;
  object-fit: contain;
  width: 100%;
  margin-top: -1.6em;
}
.Mask {
  background-image: url(../img/nippo/line-chart.png);
  background-repeat: no-repeat;
  background-position: bottom left 15%;
  width: 100%;
  /* height: 500px; */
  height: 570px;
  text-align: center;
}
.SISTEM-LAPORAN-KERJA {
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.08;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-top: 1em;
  cursor: default;
}

.Rectangle-2 {
  width: 402px;
  height: 47px;
  background-color: #50e3c2;
  padding: 15px;
  margin-left: -8em;
}
.APA-ITU {
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 10px;
  text-align: center;
  color: #000000;
}
.NIPPO-SYSTEM {
  height: 83px;
  font-family: HelveticaBold;
  font-size: 70px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 19.4px;
  text-align: left;
  color: #000000;
}
.layer {
  height: 170px;
  font-family: HelveticaThin;
  font-size: 144px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 40px;
  text-align: left;
  color: #50e3c2;
}
.Nippo-adalah-aplikas {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  padding: 10px 0 0 4em;
}
.Nippo-adalah-aplikas .text-style-1 {
  font-weight: 900;
}


.Rectangle-3 {
  width: 100%;
  height: 550px;
  opacity: 0.8;
  background-color: #10bb67;
  padding: 0 6em;
}


.Kenapa-Harus-Menggun {
  width: 423px;
  height: 31px;
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #eafbf7;
}
.NPPO {
  color: #ffffff;
  font-size: 2em;
}
.Dapat-diakses-melalu {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 20px 0 0 0;
  cursor: default;
}


.Rectangle-2-Copy {
    width: 60%;
    height: auto;
    background-color: #000000;
    padding-top: 15px;
    text-align: center;
    margin-left: -8.1em;
}
.Masalah-yang-sering {
  width: 598px;
  height: 31px;
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
.OPSA3E0 {
  background: url(../img/nippo/bg-Masalah.png);
  background-size: cover;
  width: 100%;
  /* height: 565px; */
  height: auto;
  min-height: 600px;
  padding-bottom: 6em;
  padding-top: 74px;
}
.checked-kanan {
  width: 588px;
  height: 77px;
}
.Evaluasi-kinerja-sel {
  width: 490px;
  height: 62px;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}


.laptop {
  width: 100%;
  height: 800px;
  background: url(../img/nippo/Laptop.png);
  z-index: 9;
  margin-top: -85px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border-bottom: solid 10px #000;
}
@media (max-width: 1439.98px) {
  .laptop {
    height: 1150px;
  }
}
.Rectangle-2-Copy-2 {
  width: 402px;
  height: 47px;
  background-blend-mode: multiply;
  background-image: linear-gradient(#50e3c2, #50e3c2);
  padding-top: 15px;
  text-align: center;
  position: absolute;
  margin-top: 9em;
}
.NIPPO-SYSTEM-Copy {
  width: 763px;
  height: 83px;
  font-family: HelveticaBold;
  font-size: 60px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 12px;
  text-align: left;
  color: #000000;
}
.Fitur {
  width: 212px;
  height: 24px;
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 10px;
  text-align: center;
  color: #000000;
}


.Mask-Copy {
  width: 100%;
  height: 798px;
  background-color: #eaeaeb;
  padding: 5em 7em;
}
.Keuntungan-Perusahaa {
  width: 350px;
  height: 86px;
  font-family: Allerta;
  font-size: 19.9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 10px;
  text-align: left;
  color: #50e3c2;
  cursor: default;
}
.Keuntungan-Perusahaa .text-style-1 {
  font-family: HelveticaBold;
  font-size: 50px;
  letter-spacing: 3px;
}
.Rectangle-6 {
  width: 15.5em;
  height: 14px;
  background-color: #50e3c2;
  margin-top: 4px;
}
.Rectangle {
  width: 345px;
  min-height: 155px;
  background-blend-mode: multiply;
  background-image: linear-gradient(rgba(6, 6, 6, 0.65), rgba(74, 74, 77, 0.9));
  bottom: 0;
  position: absolute;
  color: #ffffff;
  padding: 15px;
  text-align: left;
  cursor: pointer;
}
@media (min-width: 500px) {
  .Rectangle {
    min-height: 130px;
  }
}

@media (min-width: 600px) {
  .Rectangle {
    min-height: 105px;
  }
}
@media (min-width: 992px) {
  .Rectangle {
    min-height: 155px;
  }
}
.Rectangle:hover {background-color: #4fe3c3;}
.OH1E290 {
  width: 345px;
  height: 286px;
}

.OH1E290 img {
  width: 100%;
  height: 100%;
}

.Rectangle-7 {
  width: 100%;
  height: auto;
  background-color: #eafbf7;
  border-top: solid 10px #000;
}
.Rectangle-2-Copy-4 {
  width: 60%;
  height: 47px;
  background-color: #50e3c2;
  padding-top: 15px;
  text-align: center;
  float: right;
  margin-top: 4em;
  margin-right: -7.5em;
}
.Pertanyaan-Yang-Seri {
  width: 491px;
  height: 31px;
  font-family: Allerta;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  text-align: center;
  color: #000000;
}
.question {
  /* width: 120px; */
  width: auto;
  height: 120px;
  position: absolute;
  right: 47%;
  top: 20px;
}
.-Bagaimana-cara-ke {
  font-family: HelveticaBold;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  cursor: default;
}
.-Bagaimana-cara-ke h3 {
  margin: 0;
}
.Nippo-merupakan-sist {
  font-family: 'Raleway', 'sans-serif';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: justify;
  color: #000000;
  padding-bottom: 1em;
  padding-top: 10px;
}


.Rectangle-8 {
  width: 100%;
  min-height: 300px;
  background-color: #50e3c2;
  background-image: url(../img/nippo/kontak.png);
  background-repeat: no-repeat;
  background-size: 14em;
  background-position: bottom -8px left 15em;
  border-bottom: solid 20px #fff;
}
.KONTAK-KAMI {
  font-family: HelveticaBold;
  font-size: 44px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.6px;
  text-align: left;
  color: #000000;
}
.Rectangle-10 {
  width: 221px;
  height: 60px;
  border-radius: 8px;
  background-color: #000000;
  border: 0;
  margin-top: 10px;
}
.KIRIM {
  font-family: Avenir;
  font-size: 21px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #50e3c2;
}

.Rectangle-11 {
  width: 100%;
  height: 398px;
  background-color: #4a4a4a;
}
.Nippo-adalah-aplikas2 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
  padding-top: 15px;
}
.icon27 {
  width: 27px;
  height: 27px;
}

.Rectangle-11-Copy {
  width: 100%;
  height: 64px;
  background-color: #131313;
}
.FA-Logique {
  height: 24px;
  vertical-align: -webkit-baseline-middle;
}

.Basis-Data-Karyawan {
  width: 100%;
  height: auto;
  font-family: Allerta;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
}
.NIPPO-system-menyedi {
  width: 100%;
  /* height: 105px; */
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
}

.Rectangle-9 {
  font-family: Avenir;
  height: 60px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0;
}

.div-fitur {margin-left: 2em;margin-top: 7.5em;}
.row-fix{margin-right: 0;}
.row-fix-2{ margin: 0;margin-top: 4em}
.row-fix-3{margin-right: 0;padding-top: 1.5em;}
.p-t-9 {padding-top: 9%;}
.p-l-25 {padding-left: 25%;}
.lg-1{margin-top: -3.5em;}

@media (max-width: 1439.98px) {
  .div-fitur {margin-left: 6em;}
}

/* Half Size Desktop */
@media (min-width: 1031px) and (max-width: 1199px) {
  .NIPPO-SYSTEM {font-size: 50px;}
  .NIPPO-SYSTEM-Copy {font-size: 36px;}
  .layer {font-size: 110px;}
  .Rectangle-2-Copy {width: 85%;}
  .Rectangle-2-Copy-2 {margin-top: 4.8em;}
  .Rectangle-3 {height: calc(100% + 60px); padding-bottom: 4em;}
  .laptop {background-size: 120%; background-position-x: center;}
  .laptop .div-fitur {margin-top: 5.3em;}
  .laptop .row-fix-3 .col-md-offset-2 {margin-left: 4%;}
  .laptop .row-fix-3 .col-md-8 {width: 89%;}
  .OH1E290 {height: auto; width: 300px;}
  .OH1E290 .Rectangle {width: 300px;}
}

/* iPad Pro Settings */
@media (min-height: 1030px) and (max-height: 1370px) and (min-width: 1020px) and (max-width: 1030px) and (orientation: portrait) {
  .NIPPO-SYSTEM {font-size: 45px;}
  .NIPPO-SYSTEM-Copy {font-size: 50px;}
  .layer {font-size: 105px;}
  .lg-1 {margin-top: -2.5em;}
  /* .container {width: 100%;} */
  .Rectangle-2 {width: 302px; margin-left: -1em;}
  .Rectangle-2-Copy-2 {width: 302px; margin-left: -1em;}
  .Rectangle-3 {height: auto; min-height: 800px; padding:0 0 4em;}
  .Rectangle-3 .col-lg-3 {padding:15px;}
  .Rectangle-2-Copy-4 {margin-right: -1em}
  .Rectangle-2-Copy {width: 70%; margin-left: -1em;}
  .question {right: 57%}
  .OPSA3E0 {height: auto; padding-bottom: 54px;}
  .OPSA3E0 .hidden-md {display: block !important;}
  .OPSA3E0 .hidden-xs {display: none !important;}
  .laptop {background: none;}
  .laptop .div-fitur {margin-top: 6.8em; margin-bottom: 1em;}
  .laptop .row-fix-3 .col-md-offset-2 {margin-left: 8.33333333%;}
  .laptop .row-fix-3 .col-md-8 {width: 83.33333333%;}
  /* .Mask-Copy {height: 100%; padding: 0 5em 7em;} */
  .Mask-Copy {height: 100%; padding: 0 0 4em;}
  .Mask-Copy .OH1E290 {width: 100%; height: auto;}
  .Mask-Copy .Rectangle {width: 93%;}
  .Mask-Copy .col-md-4.text-left:nth-child(1) {width: 100%; margin-bottom: 4em;}
  .Mask-Copy .col-md-4 {width: 50%;}
  .Mask-Copy .m-top-0 .col-md-4:nth-last-child(1) {margin-top: 4em;}
}

/* iPad Portrait Settings */
@media (min-width:700px) and (max-width: 770px) and (min-height: 1000px) and (max-width: 1030px) and (orientation: portrait) {
  /* .container {width: 100%} */
  .Rectangle-2-Copy-2 {margin-top: 5.5em !important;}
  .Mask-Copy .col-xs-12.p-t-9{width: 100%;}
  .Mask-Copy .col-xs-12{width: 50%; padding: 15px;}
}

/* iPad Landscape Settings */
@media (max-width: 1030px) and (orientation:landscape) {
  .container{padding-left: 0; padding-right: 0;}
  .Rectangle-2 {width: 100%;margin-left: 0}
  /* .Rectangle-3 {height: 100%;padding: 2em 6em 5em;} */
  .Rectangle-3 {height: calc(100% + 100px);padding: 2em 0 4em;}
  .hidden-sm {display: none !important}
  .hidden-md {display: block !important}
  .laptop{background: none;}
  .Rectangle-2-Copy{width: 100%;padding-bottom: 10px;margin-left: 0}
  .Rectangle-2-Copy-4{width: 100%;height: auto;padding-bottom: 10px;margin-right: 0;margin-top: 0}
  .Rectangle-2-Copy-2{width: 100%;margin-top: 5.6em;}
  .laptop {height: auto;}
  .laptop .col-md-offset-2 div.col-md-push-2{left:5%; top:10px; margin-bottom: 35px;}
  .laptop .row-fix-3:nth-child(1) {margin-bottom: 45px}
  .laptop .row-fix-3 {margin-bottom: 45px;}
  .laptop .row-fix-3 .col-md-offset-2 {margin-left: 8.33333333%;}
  .laptop .row-fix-3 .col-md-8 {width: 83.33333333%;}
  .question {display: none;}
  .OPSA3E0 {padding-top: 0; min-height: 400px;}
  .OH1E290 {width: 410px; height: auto;}
  .OH1E290 .Rectangle {width: 410px;}
  .KONTAK-KAMI .hidden-md {display: none !important;}
  .Mask {max-height: 400px;}
  .Mask-Copy {height: 100%; padding: 0 0 7em;}
  .Mask-Copy .col-md-4.text-left:nth-child(1) {width: 100%; margin-bottom: 4em;}
  .Mask-Copy .col-md-4 {width: 50%;}
  .Mask-Copy .m-top-0 .col-md-4:nth-last-child(1) {margin-top: 4em;}
  .NIPPO-SYSTEM {position: relative;letter-spacing: 5px;font-size: 36px;}
  .NIPPO-SYSTEM-Copy{letter-spacing: 5px;font-size: 36px;top:10px;position: relative;}
  .Rectangle-3 .col-md-6 {padding-top: 5px; padding-bottom: 5px;}
}


/* Mobile Medium landscape */
@media (max-width: 815px) and (orientation: landscape) {
  .OH1E290 {width: 385px !important;}
  .Mask-Copy .Rectangle {width:385px !important}
  .Mask-Copy .col-md-4.text-left:nth-child(1) {margin-bottom: 0;}
  .Mask-Copy .col-md-4 {padding: 15px;}
  .Mask-Copy .m-top-0 .col-md-4:nth-last-child(1) {margin-top: 0;}
  .Rectangle-7 .col-md-offset-1 ol {margin-top: 8em;}
}

/* Mobile small landscape */
@media (max-width: 740px ) and (orientation: landscape){
  .OH1E290 {width: 320px !important;}
  .Mask-Copy .Rectangle {width:320px !important}
}

/* Mobile xs */
@media (max-width: 325px) {
  .Mask-Copy .Rectangle {width:94%}
}

/* Mobile xs */
@media (max-width: 570px ) and (orientation: landscape){
  .OH1E290 {width: 250px !important;}
  .Mask-Copy .Rectangle {width:250px !important}
}

/*Mobile Setting*/

@media( max-width : 991px ) {
html{overflow-x: hidden;}
body {overflow-x: hidden;}
/* .container{padding-right: 0;padding-left: 0} */
.p-top-0 {padding-top: 0!important;}
.p-top-50 {padding-top: 50%!important;}
.p-top-25 {padding-top: 25%!important;}
.p-l-25 {padding-left: 0;}
.m-top-0 {margin-top: 0!important;}
.m-logo {width: 70%}
.m-center {text-align: center;}

.rel4tive {position: relative;}
.Rectangle-2 {width: 100%;margin-left: 0}
.Rectangle-3{padding:10px;}
.NIPPO-SYSTEM {position: relative;letter-spacing: 5px;font-size: 28px;}
.layer{font-size: 28px}
.question{position: relative;}
.Rectangle-2-Copy-2{position: relative;margin-top:6em;}
.Mask{height: auto;}
.Rectangle-3{height: auto;}
.Rectangle-11{height: auto;}
.OPSA3E0{height: auto; min-height: fit-content; padding-top: 0; padding-bottom: 0; background-size:cover;}
.laptop{height: auto;background-image: none;background-color: #fff}
.Rectangle-2-Copy-2{width: 100%}
.NIPPO-SYSTEM-Copy{letter-spacing: 5px;font-size: 28px;top:10px;position: relative;}
.Mask-Copy{height: auto;padding: 10px;padding-bottom: 3em}
.SISTEM-LAPORAN-KERJA{font-size: 18px}
.Nippo-adalah-aplikas{padding: 10px}
.Dapat-diakses-melalu{padding-bottom: 1em}
.Rectangle-2-Copy{width: 100%;padding-bottom: 10px;margin-left: 0}
.div-fitur {margin: auto;}
.row-fix{margin-right: -15px;}
.row-fix-2{margin-top: -6em}
.Basis-Data-Karyawan{padding: 1em;text-align: center;}
.NIPPO-system-menyedi{padding: 1em;text-align: center;}
.p-d-9 {padding-top: 1em;padding-bottom: 1em}
.Rectangle-6{margin-bottom: 1em}
.Rectangle-2-Copy-4{width: 100%;height: auto;padding-bottom: 10px;margin-right: 0;margin-top: 0}
.KONTAK-KAMI{font-size: 26px;text-align: center;padding-bottom: 1em;}
.Rectangle-10{width:100px}
.OH1E290{width: 104%}
.Rectangle{width: 96.3%}
.manfaat__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.manfaat__item > img {
  max-width: 130px;
  margin-right: 20px;
}
.manfaat__item > div {
  text-align: left;
}
}
.language-btn {position: absolute;right: 1.5em;top: 1.5em;z-index: 9}
.logo-top__absolute {position: absolute;padding: 8px 15px 5px; top: 1.5em; left: 1.5em; border-radius: 10px; background-color: rgba(74, 74, 77, 0.4);}
.nippo__footer footer {margin: 0; padding: 30px 30px 10px;}
.nippo__footer .footer-title {font-size: 15px;}
.list-inline>li.active {border: solid 2px #333;border-radius: 1em;padding: 3px 4px;}

/*@media( max-width : 1599px ) and ( min-width: 992px ) {
.div-one{background-size: cover;}
}*/

/*Desktop Large*/

@media( min-width: 1600px ) {
.Rectangle-8 {background-position: bottom -8px left 30em;}
.laptop{margin-top: -113px;}
.div-one{background-size: cover;background-position: bottom;}
.OPSA3E0{background-size: cover;}
.row-fix-3{padding-top: 3.5em}
.Rectangle-2{ position: absolute;left: 0;margin-left: 0;width: 33%}
.lg-1{padding-top: 4em;}
.Rectangle-2-Copy{position: absolute;left: 0;margin-left: 0;width: 50%;}
.div-fitur{margin-left:0;}
.Rectangle-2-Copy-2{width: 333px;margin-top: 12em}
}