@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
@charset "UTF-8";
/**
CSS Reset
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
	font-family: 'Rokkitt', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
a:hover{text-decoration:none;}
dfn, em {font-style: italic!important;}
strong{font-weight: 700!important;}
.no-gap [class*="-1"],
.no-gap [class*="-6"],
.no-gap [class*="-8"],
.no-gap [class*="-3"],
.no-gap [class*="-5"],
.no-gap [class*="-9"],
.no-gap [class*="-2"],
.no-gap [class*="-10"],
.no-gap [class*="-4"],
.no-gap [class*="-12"]{padding-left:0;padding-right:0;}
p{margin-bottom: 20px;font-size:18px}
p:last-child{margin-bottom: 0;}

header{
	background:url('../img/bg-header.png') no-repeat;
	background-size:cover;
}

.yellow{color:#f2f511;}
h1{font-size:50px;color:#FFF;text-transform:uppercase;font-weight:600}
header p{font-size:18px;color:#fff}
.hp-header {margin-bottom: -115px;}
.hubungi-kami-top{background:#ededed;padding:50px 0;color:#000;font-size:30px;font-weight:600}
.purple{color:#cb2bb9;}

h2.first{font-size:36px;font-weight:300;}
h2.first span{color:#5f1cc9;font-weight:bold;display: block;}
.solusi {
	color:#fff;
	background: rgba(95,28,201,1);
	background: -moz-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,28,201,1)), color-stop(80%, rgba(203,43,184,1)), color-stop(100%, rgba(203,43,184,1)));
	background: -webkit-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -o-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -ms-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: linear-gradient(to right, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f1cc9', endColorstr='#cb2bb8', GradientType=1 );
}
.solusi .title{font-size:28px;text-align:right}
.solusi .title span{display:block}
.solusi ul li{font-size:20px;padding:8px 0}
.solusi ul .fa-li{top:9px}
.div-form{padding:30px;font-size:28px;color:#000;background:url('../img/bg-div-form.png') no-repeat;background-size:cover}
.div-form form{margin-top:20px;}
.div-form form textarea{resize:none;height:170px}
.div-form form .form-control{border-radius:0;padding:12px;font-size:18px}
.div-form form input.form-control{height:auto;}
.btn-submit {
	color:#fff!important;
	background: rgba(95,28,201,1);
	background: -moz-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,28,201,1)), color-stop(80%, rgba(203,43,184,1)), color-stop(100%, rgba(203,43,184,1)));
	background: -webkit-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -o-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: -ms-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	background: linear-gradient(to right, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 80%, rgba(203,43,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f1cc9', endColorstr='#cb2bb8', GradientType=1 );
	border-radius:0;
	min-width:180px;
	font-size:24px;
	max-width:100%;
	outline:none;
}
.buat-sekarang {
	color:#fff;
	background: rgba(95,28,201,1);
	background: -moz-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 90%, rgba(203,43,184,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,28,201,1)), color-stop(90%, rgba(203,43,184,1)), color-stop(100%, rgba(203,43,184,1)));
	background: -webkit-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 90%, rgba(203,43,184,1) 100%);
	background: -o-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 90%, rgba(203,43,184,1) 100%);
	background: -ms-linear-gradient(left, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 90%, rgba(203,43,184,1) 100%);
	background: linear-gradient(to right, rgba(95,28,201,1) 0%, rgba(203,43,184,1) 90%, rgba(203,43,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f1cc9', endColorstr='#cb2bb8', GradientType=1 );
	padding:20px 0;
}
.btn-buat-sekarang{background:#fff;color:#cb2bb9!important;font-weight:bold;font-size:18px;border-radius:0;float:right}
.font20{font-size:20px;}
footer{
	background:#000;
	color:#fff;
	font-size:14px;
	padding:50px 0;
}
footer div{font-family: 'Lato', sans-serif;}
footer .title{font-size:24px;}
.copyright{border-top:1px solid #fff;padding:20px 0;color:#ffc914;text-align:center;background:#000;font-family: 'Lato', sans-serif;}
.slider-mobile{background:#eaeaea;padding:75px 0 110px 0;overflow:hidden}

.device{position:absolute;left: 4px;right: 0;margin: -20px auto 0;}
.slider-app{margin: 0 -50px;}
.slick-slide{outline:none!important}
.slick-dots{position: absolute;bottom: -60px;display: block;width: 100%;padding: 0;list-style: none;text-align: center;}
.slick-dots li{position: relative;display: inline-block;width: 20px;height: 20px;margin: 0 5px;padding: 0;cursor: pointer;}
.slick-dots li button{font-size: 0;line-height: 0;display: block;width: 20px;height: 20px;padding: 5px;cursor: pointer;color: transparent;border: 0;outline: none;background: transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity: 1;color:#b6660c}
.slick-dots li button:before{font-family: 'FontAwesome';font-size: 15px;line-height: 20px;position: absolute;top: 0;left: 0;width: 20px;height: 20px;content: "\f111";text-align: center;opacity: .25;color: black;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button:before{opacity: .75;color: #ff8c0b;}




@media (max-width:991px) {
	.name-input{margin-bottom:15px}
	.div-form {padding: 30px 0;}
	.solusi .title span, h2.first span{display:inline}
	.mobile-phone{margin-bottom:20px;}
	.hp-header {margin-bottom: 20px;height: 300px;}
	.solusi .title{text-align:left;margin-bottom:10px}
}
@media (max-width:767px) {
	h1 {font-size: 30px;}
	.hubungi-kami-top{padding: 20px 0;font-size: 25px;}
	.device{left: -1px;}
}

@media (min-width:991px) {
	.row-center-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex
    }
}
