@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    font-family: 'Raleway', 'sans-serif';
}
html,
body {
    /* font-family:"メイリオ", Meiryo, Lato,  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif; */
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
    font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
header {
    background: url(../img/img-systemdev/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 240px;
}
header h1 {
    font-family: 'Lato', serif;
    font-size: 36px;
    color: #333;
    letter-spacing: 2px;
    padding-left: 1em;
    padding-right: 1em;
}

header h2 {
    /* font-family: 'Lato', serif; */
    font-size: 28px;
    color: #333;
    letter-spacing: 2px;
    padding-left: 1em;
    padding-right: 1em;
}

.breadcrumb>li a {
    color: #ffca13;
    font-weight: 300;
}

.breadcrumb-position{
    position: absolute;
    top: -115px;
    left: calc(1vh - 3em);
}

.gold-bar{
    margin:0; border-top: 3px solid gold; 
    padding: 0; 
    width: 57%; 
    float:right
}

.yellow-stripes{
    width: calc(100% - 1em);
    height: fit-content;
    object-fit: cover;
    margin-bottom: 20px;
}

.justify-content-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bg-header-txt{
    position: relative;
    top: 10vh;
}

.style-1 {
    background-color: #fff;
}
.style-1 h2 {font-weight: 200;font-size: 28px; line-height: 40px}
.style-1 p {font-size: 18px}
.underline {border-bottom: solid 8px #ebc033;padding-bottom: 20px;}
.underline2 {border-bottom: solid 8px #ebc033;padding-bottom: 1.2em;}
.style-2 {
    background: url(../img/img-systemdev/banner.png)   ;    
    color: #fff;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -20vh;
    
    }
.style-3 {
    background: url(../img/img-systemdev/black-line-1.png) no-repeat;
    background-color: rgba(225,225,225,0.6);
    background-position: center;
    background-size: cover;
    color: #111;
    padding-top: 0;
}
.new1 {
    height: 55px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
}
.sect-3-txt{
    font-size: 2.1em;
}

.supposedly-style4{
    background: url(../img/img-systemdev/black-line-2.png) no-repeat;
    background-color: #fff;
    background-position-y: bottom;
    background-size: contain;
}
.supposedly-style4 p{
    font-weight: 500;
}

.dark-gold-title{
    background-color: #000;
    color: rgb(255, 205, 56);
    /* font-family: 'Lato', serif; */
    font-weight: 500;
    width: fit-content;
    padding: 12px 24px;
}

.new7 {    
    color: #161616;
    font-size: 32px;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: 2px;
}

.mb-1{
    margin-bottom: 1em;
}

.mt-2{
    margin-top: 2em;
}

.box-1 {color:#fff;font-size: 32px;background: #111;padding: 10px;margin-top: -55px;}
.box-2 {
    background: #111;
    margin: 12px 2px;
    padding: 10px;
    padding-left: 4.7em;
    color: #ffff;
    font-weight: 800;
    letter-spacing: 1px;}
.style-4{
    background: url(../img/img-systemdev/img3.jpg); 
    background-position: left center;background-size: cover;height: -webkit-fill-available;}
.card {    
    background: #feca38;
    padding: 10px;
    height: 300px;
    margin-top: 12em;
}
.card:before {
    right: 97%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 50px;
    border-right: solid 80px #feca38;
    top: 50%;
}
.new2 {font-weight: bold;letter-spacing: 2px;}
.new3 {font-weight: bold;letter-spacing: 1px;}
.new4 {text-align: justify;color: #666}
.bold {font-weight: bold}
.new5{
    /* position: absolute;
    bottom: -2.5em; */
}
.style-6{
    background: url(../img/img-systemdev/img4.jpg); 
    background-position: left center;background-size: cover;
    height: auto;
    color: #fff;}
.style-7{
    
}
.new6 {    
    color: #161616;
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: 2px;}



.language-btn {position: absolute;right: 0;top: -115px;}
.list-inline>li.active {border: solid 2px #ebc033;border-radius: 1em;padding: 3px 6px;}
.list-inline>li a {color: #fff}
.m-t-15em{margin-top: 15em;}
.m-t-10em{margin-top: 10em;}
.m-b-5{margin-bottom: 5px;}
.c-logique {color: rgb(255, 205, 56);text-shadow: 0 2px 4px #333;}

.p-b-20 {padding-bottom: 20px}
.custom-1 {background-color: #fef5cc;padding: 1em 4em}
.custom-2 {width: 180px;margin-top: 11em;}
.border-l { border-right: solid 3px #333333 }

.obstacle {
    background-color: #fff;
}
.obstacle h2 {
    font-size: 20px;
    color: #333;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-right: 16px;
    font-weight: 700;
}
.obstacle p {
    padding: 15px;
    text-align: right;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0;
}

section {
    padding-top: 55px;
    padding-bottom: 55px;
}

.title-custom {font-family:'Open Sans', sans-serif; color: #b69426; font-size: 66px; font-weight: 700; position: absolute; top: -30px; right: -10px;} 
.title-custom-p {letter-spacing: 2px;width: 280px; border: solid 2px #b49525; border-left: none; padding: 6px; font-size: 16px;}
.custom-p-1 { font-family:'Open Sans', sans-serif; color: #a5a193; font-size: 62px; font-weight: 700; position: absolute; top: -25px; right: -10px}
.custom-p-2 {letter-spacing: 2px;width: 280px; border: solid 2px #a5a193; border-left: none; padding: 6px; font-size: 16px;}


.tahap-pemesanan {
    background-image: url(../img/img-systemdev/dua.jpg);
    background-position: left center;
    background-size: cover;
    height: 550px;
}

.card2 {    
    background: #feca38;
    padding: 10px;
    height: auto;
}
.tahap-pemesanan-2 {background-color: #ffcd38}
.tahap-pemesanan-3 {
    background-image: url(../img/img-systemdev/tiga.jpg);
    background-position: left center;
    background-size: cover;
    height: auto;}
.card3 {    
    background: transparent;
    padding: 10px;
    height: auto;
}
.border-top-custom{
    border: solid 10px #000;
    position: absolute;
    width: 600px;
    top: -65px;
    left: -100px;}
.border-top-custom-2{    
    position: absolute;
    width: auto;
    background: black;
    color: #fff;
    font-size: 30px;
    padding: 15px 25px;
    top: -90px;}
.border-right-custom{
    border: solid 1px #000;
    position: absolute;
    height: 250px;
    right: -40px;
    top: 15px;}
.border-top-list{
    border: solid 4px #000;
    position: absolute;
    width: 600px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
   }
.border-top-list-2{
    position: absolute;
    border: solid 4px #000;
    width: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }
.m-t-10 {margin-top: 10px}
.m-t-2em {margin-top: 2em}
.custom-3{font-size: 19px;font-weight: 700;}
.layanan{background-color: #fff7da;margin-top: 2.5em;}
.btn-logic {border-radius: 0!important;background-color: #ffcd38}
.tahap-pemesanan-list {
    background: url(../img/img-systemdev/empat.jpg) no-repeat center;
    background-size: contain;
    position: relative;
    padding: 80px 0;
    margin-bottom: 65px;
}

.row {
    margin-left: -12px;
    margin-right: -12px;
}



.img-fluid {
    width: 100%;
}

.contact {
    background-color: #000;
    color: #fff;
}

.contact .form-control {
    background-color: transparent;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
}
.cs-custom{padding-top: 10px;width: 150px}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000;
    color: #fff;
}
footer a {
    color: #fff;
}
footer a:hover,
footer a:focus {
    color: #fff;
    text-decoration: none;
}
footer p {
    position: relative;
    padding-left: 30px;
}
footer p:before {
    position: absolute;
    top: 0;
    left: 0;
}
[class*="btn btn-logic btn-sm"] {
   color: #333;
   width: 120px
}
[class*="rc-anchor rc-anchor-normal"] {
    width: 100px;
}
.logo-header{width: 220px;background: #000;padding: 20px;position: absolute;top: -90px;right: 5%;}
.link-footer-webdev a{display:block;margin-bottom:8px;text-decoration:underline!important}

/* NAVIGATION */
.logique-nav {
    width: 95px;
    background: rgba(255, 202, 19, .9);
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    perspective: 1000px;
    padding: 0;
    font-weight: 300;
    transition: all .25s;
    overflow: auto;
    left: 0;
}
.logique-nav .text-center {
    padding: 5px 10px;
    line-height: normal;
}
.logique-nav .text-center.active,
.logique-nav .text-center.active:focus,
.logique-nav .text-center.active:hover {
    background: #212425
}
.logique-nav .text-center:focus,
.logique-nav .text-center:hover {
    background: #666
}

.logique-nav .text-center:focus a,
.logique-nav .text-center:hover a {
    color: #fff
}
.logique-nav a {
    color: #000;
    text-decoration:none!important;
    font-size: 12px;
}
.logique-nav .text-center.active a,
.logique-nav .text-center.active:focus a,
.logique-nav .text-center.active:hover a {
    color: #fff
}
.margin-for-nav {
    margin-top: 0
}
.btn-container-contact{
    margin-top: 20px;
}
.btn-contact-us-black {
    background: #000;
    border-radius: 5px;
    color: #fff !important;
    font-size: 18px;
    padding: 10px 60px;
    white-space: normal;
}
.btn-contact-us-black-pent {
    background: #000;
    border-radius: 5px;
    color: #fff !important;
    font-size: 14px;
    padding: 4px 8px;
    white-space: normal;
    text-align: center;
}
.style-4 .card{
    height: auto;
    padding-bottom: 0;
}
.style-4 .card .box-2{
    margin-bottom: 0;
}
.nav-lp .navbar-collapse {
    padding: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-top: -1px;
}
section,footer{margin-left:95px}
.card section{margin-left:0}
.nav-lp .navbar-toggle.collapsed {
    background-color: #ffca13!important;
    position: relative!important;
    right: 0!important;
    top: -80px;
}
.nav-lp .navbar-toggle {
    background-color: #ffca13!important;
    z-index: 9999;
    position: fixed;
    right: 80px;
    border-radius: 0;
    height: 34px;
    top: -7px;
}
.nav-lp .navbar-toggle.collapsed .icon-bar.first {transform: rotate(0)!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.second {background: #000!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.third {transform: rotate(0)!important;margin-top: 4px!important;}
.nav-lp .navbar-toggle .icon-bar {background: #000;transition: all .5s;}
.nav-lp .navbar-toggle .icon-bar.first {transform: rotate(45deg);}
.nav-lp .navbar-toggle .icon-bar.second {background: 0 0;}
.nav-lp .navbar-toggle .icon-bar.third {transform: rotate(-45deg);margin-top: -8px;}

.img-about,
.img-blog,
.img-career,
.img-contact,
.img-home,
.img-portfolio,
.img-services, .img-product {
    height: 44px;
    width: 44px
}
.img-home {
    margin: auto;
    background: url(/img/nav-img.png) -2px -4px no-repeat
}
.logique-nav .text-center.active .img-home,
.logique-nav .text-center.active:focus .img-home,
.logique-nav .text-center.active:hover .img-home,
.logique-nav .text-center:focus .img-home,
.logique-nav .text-center:hover .img-home {
    background: url(/img/nav-img-white.png) -2px -4px no-repeat
}
.img-about {
    margin: auto;
    background: url(/img/nav-img.png) -2px -62px no-repeat
}
.logique-nav .text-center.active .img-about,
.logique-nav .text-center.active:focus .img-about,
.logique-nav .text-center.active:hover .img-about,
.logique-nav .text-center:focus .img-about,
.logique-nav .text-center:hover .img-about {
    background: url(/img/nav-img-white.png) -2px -62px no-repeat
}
.img-portfolio {
    margin: auto;
    background: url(/img/nav-img.png) -2px -123px no-repeat
}
.logique-nav .text-center.active .img-portfolio,
.logique-nav .text-center.active:focus .img-portfolio,
.logique-nav .text-center.active:hover .img-portfolio,
.logique-nav .text-center:focus .img-portfolio,
.logique-nav .text-center:hover .img-portfolio {
    background: url(/img/nav-img-white.png) -2px -123px no-repeat
}
.img-services {
    margin: auto;
    background: url(/img/nav-img.png) -2px -184px no-repeat
}
.logique-nav .text-center.active .img-services,
.logique-nav .text-center.active:focus .img-services,
.logique-nav .text-center.active:hover .img-services,
.logique-nav .text-center:focus .img-services,
.logique-nav .text-center:hover .img-services {
    background: url(/img/nav-img-white.png) -2px -184px no-repeat
}
.img-career {
    margin: auto;
    background: url(/img/nav-img.png) -2px -245px no-repeat
}
.logique-nav .text-center.active .img-career,
.logique-nav .text-center.active:focus .img-career,
.logique-nav .text-center.active:hover .img-career,
.logique-nav .text-center:focus .img-career,
.logique-nav .text-center:hover .img-career {
    background: url(/img/nav-img-white.png) -2px -245px no-repeat
}
.img-contact {
    margin: auto;
    background: url(/img/nav-img.png) -2px -308px no-repeat
}
.logique-nav .text-center.active .img-contact,
.logique-nav .text-center.active:focus .img-contact,
.logique-nav .text-center.active:hover .img-contact,
.logique-nav .text-center:focus .img-contact,
.logique-nav .text-center:hover .img-contact {
    background: url(/img/nav-img-white.png) -2px -308px no-repeat
}
.img-blog {
    margin: auto;
    background: url(/img/nav-img.png) -2px -374px no-repeat
}
.logique-nav .text-center.active .img-blog,
.logique-nav .text-center.active:focus .img-blog,
.logique-nav .text-center.active:hover .img-blog,
.logique-nav .text-center:focus .img-blog,
.logique-nav .text-center:hover .img-blog {
    background: url(/img/nav-img-white.png) -2px -374px no-repeat
}
.img-product {
    margin: auto;
    background: url(/img/nav-img.png) -2px -440px no-repeat;
}

.logique-nav .text-center.active .img-product,
.logique-nav .text-center.active:focus .img-product,
.logique-nav .text-center.active:hover .img-product,
.logique-nav .text-center:focus .img-product,
.logique-nav .text-center:hover .img-product {
    background: url(../img/nav-img-white.png) -2px -440px no-repeat
}

.backdrop-test {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    opacity: .7;
    display: none;
    top: 0;
    left: 0;
}

.other-stydycase {
    /*background:#ececec;*/
    background:#ffcd38;
}
.other-stydycase .osc-item{
   /* background:#ffcd38;*/

    background: rgba(225,225,225,0.5);
}
.osc-worktodo{
    font-size: 11px;
    background: #000;
    padding : 10px 20px ;
    color: #fff;
}
.osc-desc {
    padding: 0px 20px 10px;
}
.osc-item h4{
    padding: 0px 20px 10px;
    margin: 0; 
}
.medsos-new ul {
    margin:0;
    padding:0;
}
.medsos-new ul li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    vertical-align: top
}
.medsos-new ul li a{
    font-size: 38px;
    margin-bottom: 0;
}
.list-study{
    margin-top: 40px;
}
.list-study h3{
    margin-bottom: 10px;
}
.list-study-container  .circle-list{
    padding:0;
}
.list-study-container .circle-list li{
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
    background: url(../img/dot.gif) no-repeat;
    padding-left: 23px;
}

@media (min-width:1200px) {
    .margin-for-nav {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        position: relative
    }
}
.logique-nav.in-jp a {
    font-size: 12px;
}
@media (max-width: 1199px){
    .breadcrumb-position{
        left: calc(7vh - 2em);
    }
    .container {width: 925px;}
    .title-custom-p,.custom-p-2{width:auto}
    .gold-bar{
        width: 58%;
    }
    .sect-3-txt{
        font-size: 24px;
    }
    .btn-contact-us-black-pent{
        font-size: 14px;
        padding: 4px 8px;
    }
}
@media screen and (max-width:979px) {
    .logique-nav {
        background: rgba(255, 202, 19, 1)
    }
} 

/* NAVIGATION */
@media (min-width: 1400px){ 
.header{height: auto!important} 
}
@media (max-width: 1199px){
    header{height:auto}
    .style-2{
        /* background-size: cover;
        background-position-x: -130px; */
        background-size: contain;
        background-position-x: -5vw;
        background-position-y: 0;
        background-color: #000;
        height: auto;
    }
    .new5 {
        /* width: 500px;
        right: 0; */
    }
    .style-6{
        background-position-x: -20vw;
    }
}
@media (max-width: 768px){
    .breadcrumb-position {
        left: 65px;
    }
    .bg-header-txt{
        background-color: rgb(252,203,13,0.7);
        margin-left: 55%;
        position: unset;
    }
    .gold-bar{
        width: 56%;
    }
    .new5 .underline{border-bottom:0;}
    .new5 {
        /* width:275px;right:0 */
    }
    .sect-3-txt{
        font-size: 1.1rem;
    }
    .new6 {margin-bottom: 30px;}
    .style-6 {background: none;height: auto;color: #000;border-bottom: 3px solid #000;padding: 30px 0;}
    .container {width: 670px;}
    .logo-header{left: 50px;}
    .tahap-pemesanan-list{background:none;padding:0}
    .style-2{
        height: auto;
    }
    .new5{
        /* bottom: -7em;
        width: 400px; */
        margin-top:0;

    }

    .m-new{

    }
    header{
        padding-bottom: 40px;
    } 
    header .m-t-10em{
        margin-top: 1em;
    }
    header  h1, header h2{
        padding: 0;
        font-size: 1.6em;
    }
    .language-btn {
        top: -115px;
    }

}
@media (max-width: 767px){
    .breadcrumb-position{right: auto; left: -5px;}
    .logique-nav {
        margin-right: -150px;
        margin-left: auto;
        position: relative
    }
    .collapse.in .logique-nav {
        margin-right: 0;
        padding-top: 0
    }
    .backdrop-test {
        display: block;
    }
    .nav-lp .navbar-collapse {
        height: 100%!important;
    }
    .container {width:auto;}
    .logo-header{left: 0;}
    section,footer{margin-left:0}
    .nav-lp .navbar-collapse {margin-top: -90px;}
    .language-btn {right: auto;left: 10px;}
    .btn-portfolio {padding: 10px 15px;}

body {overflow-x: hidden;}
header{height:100%}
.m-new {
    text-align: left;
    }
.style-2 {height: 200px;margin-top: 2em;}
.style-4 {height: auto;background: #d8dddd}
.style-6 {height: auto;color: #513e00}
.style-7 {height: auto;background: none;padding-bottom: 0;}
.new6{font-size: 30px;padding-left: 0;}
.card{margin-top: 0;height: auto;padding: 16px;}
.card:before{display: none;height: auto}
.box-1 {margin-top:0;border-radius: 8px 8px 0 0;}
.box-2 {padding-left: 1em;margin: 10px -4px -18px; font-size: 12px;border-radius: 0 0 8px 8px;}
.new1 {height: auto}
.new3 {margin-top:2em;}
.new2{font-size: 24px}
.tahap-pemesanan-list{margin-bottom:0;padding:20px 0;padding-top: 0}
.tahap-pemesanan-list{background: #feca38;padding-top: 1em;margin-top: 2em;}
.style-1 h1 {font-size: 23px;}
header h1{font-size: 40px;}

.no-10{right: -10px!important;font-size: 50px!important;top: -18px!important;}
.card3, .card2{padding: 10px 0;}
.title-custom{right: 0;}
.border-l.text-right .text-right{text-align:left!important}
.btn-logic{margin-bottom: 15px;}
.title-custom-p{width: auto;}
.custom-p-2{width: auto;}
.obstacle p {padding: 0;}
.text-L {text-align: left!important;}

.custom-1{padding: 0 15px;}
section {padding-top: 25px;padding-bottom: 25px;}
.underline{border: none}
.border-l{border: none}
.layanan{margin-top: 0}

.obstacle h2{margin-top: 0}
.m-t-2em{margin-top:0;}
.custom-p-1{right: 0}
form {padding: 1em}
.captcha-custom {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;}
.tahap-pemesanan{height: auto;padding: 0;background-image: none;background: #feca38;}
footer {padding-bottom: 0}
.m-m-10 {margin-top: -5px}
.min-h {height: auto!important}
.list-inline {margin-top: -12px;margin-right: 12px;}
}

@media (max-width: 480px){
    .breadcrumb-position{
        top: -5vh;
        background: #000;
        width: 100vw;
        left: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        font-size: small;
    }
    .breadcrumb{
        margin-bottom: 0;
    }
    .bg-header-txt{
        margin-left: 0;
        margin-top: 29vh;
        position: relative;
        top: 39px;
        font-size: 2px!important;
        /* color: #fff; */
        background: rgb(252,203,13,0.7);
    }
    .ol-position{
        padding-left: 1em;
    }
    .gold-bar{
        width: 45%;
    }
    .language-btn {
        top: -65px;
        width: 100%;
        background: #000;
        padding-bottom: 6px;
        text-align: left;
    }
    .style-2{
        position: relative;
        background-position-x: -16vw;
        background-size: cover;
    }
    .sect-3-txt{
        font-size: 0.8rem;
    }
    .style-1 h2{
        font-size: 24px;
        line-height: 36px;
    }
    .new5{
        /* bottom: 0;
        top: 35px;
        right: 10px; */
        font-size: 24px;
        /* width: 210px;  */
    }

    .btn-container-contact {
    margin-bottom: 20px;
    }
    header{
        padding-bottom: 30px;
        padding-top: 90px;
    }
    header h2.m-new{
      /* background:rgba(225,225,225,0.6); */
       /*   background: rgba(1,1,1,0.5);*/
       text-shadow: none;
       padding: 10px;
       font-weight: bold;
       font-size: medium;
    }
    .other-stydycase .row > div {
        margin-bottom: 20px;

    }
    .style-6 .new3{
        margin-top: 1em;
    }
    .captcha-custom {
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
    }
    .contact form{
        padding:10px 0;
    }
    .contact form .btn-submit {
        margin-bottom: 0;
    }
     .contact form .btn-submit br{
        display: none;
     }
     .btn-contact-us-black{
        padding:10px 20px;
     }
}

/* additional */
.p-padding-v-5-modal {
  margin: 0;
  padding: 10px 0;
}