
@-webkit-viewport { width: device-width; }section .page-title-container h1.page-title
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
@charset "UTF-8";
/**
CSS Reset
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.7;
}
body {
    font-size: 15px;
    font-family: 'Raleway', 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
.custom-text{
	font-family: 'Architects Daughter', cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section 
{
    display: block;
}
ol, ul {
    list-style: none;
}
a:hover{
	text-decoration:none;
}
dfn, em {
  font-style: italic!important;
}
strong{
    font-weight: 700!important;
}
.no-gap [class*="-1"],
.no-gap [class*="-6"],
.no-gap [class*="-8"],
.no-gap [class*="-3"],
.no-gap [class*="-5"],
.no-gap [class*="-9"],
.no-gap [class*="-2"],
.no-gap [class*="-10"],
.no-gap [class*="-4"],
.no-gap [class*="-12"]{
	padding-left:0;
    padding-right:0;
}
div, p, li{
    font-size: 15px;

}
p{margin-bottom: 20px;
}
p:last-child{
  margin-bottom: 0;
}
h1, h2, h3, h4{
  font-weight: bold;
  margin-bottom: 15px;
}
img.pright{
  float:right;
  margin:0 0 30px 30px;
}
header.head-banner{
	background: url(../img/img-recruitment-website/banner.jpg) no-repeat;
	background-size: contain;
	background-position: right;
	height: 580px;
	width: 100%;
	display: block;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}
.arrow-diagonal {
  width: 0; 
  height: 0; 
    border-top: solid 32px #111;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    -ms-transform: rotate(-48deg);
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
    position: absolute;
    right: -20px;
    bottom:-14px;
}
.banner-text{
	margin-top:130px;
	display: block;
}
.banner-text h1 {
	line-height: 55px;
	display: inline-block;
}
.banner-text h1 span{
	background-color: #111;
 
	padding: 3px 10px;
	color: #fff;
}
.ytext{
	color: #ffc914 !important;
}
.banner-subt{
	font-size: 16px;
	color: #000;
	text-shadow: 0px 0px 6px rgba(255,255,255,1);
}
.offering-part{
	background: #000;
	padding: 30px 0px 30px;

}
.offering-part h2{
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	margin:0;
	line-height: 24px;
}
.offering-part h2 span{
	font-size: 18px;
	display: block;
	color: #a2a1a5;
 
}
.problem-container{
	background: url(../img/img-recruitment-website/bg-problem.jpg) no-repeat;
	background-size: cover;
	padding:50px 0 ;
}
.problem-content span{
	text-align: center;
	display: block;
}
.problem-content  h3{
	text-align: center;
	margin-bottom: 20px;
	line-height: 30px;
}
.problem-content div.img-container{
	margin-bottom: 20px;
}
.problem-content div img{
	margin:auto;
}
.problem-text{
	background: #ffc914;
	padding:50px 0 ;
}
.problem-content .row div {
	text-align: left;
	font-size: 15px;
}
.problem-content .row div img{
	max-width: 180px; margin-bottom: 10px;
}
.arrow-up{
	  display: inline-block;
	  margin: 0 5px;
	  vertical-align: middle;
	  width: 15px;
	  height: 15px;
	}
.problem-text .arrow-up{
	position: absolute;
    left: 50%;
    margin-top: -65px;
    border-bottom: solid 15px  #ffc914;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}
.problem-text h3{
 	font-size: 30px;
	color: #111;
	margin:0; 
}
.problem-text h3 span{
	font-size: 30px;
	display: block;
	color: #111;
}
.solution-text{
	padding-top: 40px;
}
.solution-text *{
 	font-size: 15px;
}
 

.solution-text .row .col-sm-4{ 
	min-height: 70px;
	margin-bottom: 20px;

}
.solution-text .row .col-sm-4 div{ 
	background: url(../img/img-recruitment-website/icon-list1.png) no-repeat left 5px; ;
	padding-left: 35px;
	text-align: justify;
	font-size: 15px;
}

.simul-cont1{
	text-align: center;
	margin-top: 10px;
}
.simulation-container h2{
	margin-top: 30px;
}
.simul-cont1>div {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	font-weight: bold;
	line-height: 25px;
}
.simul-2, .simul-3{
	line-height: 0 
}
.simul-2{
	font-size: 34px;
}
.simul-container{
	padding-bottom: 30px;
	background: url(../img/img-recruitment-website/bg-yellow.png) no-repeat;
	background-size: cover;
}
.simul-container div h4{
	background: #111;
	color: #fff;
	display:  inline-block;
	padding:10px 20px;
	vertical-align: top;
	margin-top: -20px;
}
.simul-text{
	background: #000;
	color: #fff;
	padding:30px 0;
}
.simul-text span{
	display: block;
	color: #fff;
	line-height: 30px;

}
.simul-text h3{
	font-weight: normal;
	margin-bottom: 0;
}
.simul-text span{
	font-size: 22px;
	font-family: 'Architects Daughter', cursive;
}
.simul-text .arrow-up{
	position: absolute;
    left: 50%;
    margin-left: -15px;
    margin-top: -45px;
    border-bottom: solid 15px  #000;
	border-left: solid 15px transparent;
	border-right: solid 15px transparent;
}
.simul-description{
	padding-top:20px;
	padding-bottom: 20px;
}
.solution-container{
	background: url(../img/img-recruitment-website/bg-solution.jpg);
	background-size: cover;
}
.price-tag-text{
	padding: 85px 0 0 ;
}
.price-number{
	color: #eab913;
	text-shadow: 3px 3px 0px rgba(25, 25, 25, 1);
}
.logo-logique2{
	display: inline-block;
	position: absolute;
	top:-35px;
		left:0;
	right: 0;
}
.logo-logique2 span{
	display: inline-block;
	background: #000;
	padding: 15px 20px 10px;

}
.forwho-container{
	position: relative;
}
.forwho-container h3{
	font-size: 30px;
	margin-top: 70px;

}
.forwho-container h3 span{
	font-size: 18px;
}
.list-why {
	display: inline-block;
	text-align: left;
}
.list-why li{
	background: url(../img/img-recruitment-website/icon-list1.png) no-repeat left;
	padding-left: 30px;
	margin-bottom: 10px;
}
.forwho-cont{
	background: #000;
}
 .forwho-text h3{
	margin-top: 0;
	color: #ffc914;
	padding:30px 0;
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 0;
}
.reason-container{
	padding:0px 0 40px;
	background: url(../img/img-recruitment-website/bg-solution.jpg) no-repeat;
	background-size: cover;
}
.reason-container .row{
	margin-top: 15px
}
.reason-container .row div{
	padding-top: 15px;
}
.step-container{
	margin:40px 0;
}
.step-container h3{
	margin-bottom: 30px;
}
.step{
	border: 1px solid #111;
	padding-bottom:10px;
	border-right: 0;
	min-height: 360px;
}
.step:nth-child(4){
	border-right: 1px solid #111;
}
.row:nth-child(2) .step{
	border-bottom: 1px solid #111;
}
.step-number-cont{
	text-align:center;
}
.step-number-cont span{
	display: inline-block;
	margin:0 auto;
	background: #111;
	color: #fff;
	padding:5px 10px;
	margin-bottom: 10px;
}
.step h4{
	text-align: center;
	font-size: 24px;
	color: #eab913;
	margin: 10px 0 5px;

}
.step .step-text{
	font-size: 14px;
	color: #999;
	line-height: 25px;
	text-align: justify;
}
.testimonial-container {
	background: url(../img/img-recruitment-website/bg-testimonial.jpg) no-repeat;
	background-size: cover;

}
.testimonial-title {
	background: #eab913;
	min-height: 520px;
	position: relative;
}
.testimonial-title h3{
	position: absolute;
	top: 50%;
	text-align: center;
	left:0;
	right: 0;
}
.testi-container{
	padding: 100px 50px;
}
.testi-box{
	border: 2px dotted #666;
	border-radius: 15px; 
	position: relative;
	padding: 30px;
	width: 620px;
	margin:0 auto
	;
}
.testi-text{
	font-size: 15px;
	line-height: 30px;
}
.quoteicon{
	font-size: 72px;
	position: absolute;
	line-height: 70px;

}
.quoteicon.quote-icon1{
	top:-20px;
	left:20px;
}
.quoteicon.quote-icon2{
	bottom:-50px;
	right:30px;
}
.testi-owner-container{
	margin-top:30px;
	font-size: 16px;
}
.footer-container{
	background: #111;
	padding:30px 0;
}
.footer-container *{
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.footer-container h3{
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
}
.footer-container img{
	padding-bottom: 10px;
}
.contact-form-container fieldset{
	margin-bottom: 10px;
}
.contact-form-container input[type="text"], .contact-form-container textarea{
	padding: 10px;
	width: 100%;
	border-radius: 10px;
	border:0;
	background: #fff;
	color: #111;
}
.contact-form-container textarea{
	height: 110px;
}
.contact-form-container .submit-button{
	background: #eab913;
	color: #111;
	border-radius: 10px;
	border:0;
	padding:5px 40px;
}
.mesage-alert > .alert-warning, .mesage-alert > .alert-success{
	padding: 0;
    background: none;
    color: #eab913;
    border: 0;
    margin-bottom: 5px;
}
.copyright-container *{
	font-size: 14px;

}
.copyright-container {
	padding:20px 0;
		background: #eab913;
}

.slick-dots
{
    position: absolute;
    bottom: 20px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.btn-yellow {
	background-color: #ffc914;
	border: 2px solid #dead08;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	font-size: 16px;
}
.btn-yellow:hover,
.btn-yellow:focus {
	color: #fff;
}

/* responive */
 
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }
 	@media only screen and (max-width : 1024px) {
 		.price-tag-text{
 			padding:30px 0 0 0;
 		}
 		.step{
 			height: 355px;
 		}
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	header.head-banner {
    		height: auto;
    		background-image: none;
    	}
    	.big-text{
    		font-size: 42px !important;
    	}
    	.price-number{
    		font-size: 60px !important;
    		line-height: normal !important;
    	}
    	.price-tag-text{
    		margin-bottom: 50px;
    	}
    	.price-term{
    		margin-top: 0 !important;
    	}
    	.forwho-cont h3 br{
    		display: none;
    	}
    	.step{
    		height: 400px;
    	}
    	.step:nth-child(2){
    		border-right: 1px solid #111;
    	}
    	.testi-box{
    		width: auto;
    	}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	header.head-banner{
    		background-position: 30% top;
    	}
    	.problem-content .img-container img:first-child{
    		margin-bottom: 20px;
    	}
    	.simulation-container center img{
    		display: none;
    	}
    	.list-why li{
    		background-position: left 5px;
    	}
    	.forwho-container h3{
    		font-size: 24px;
    		margin-top: 50px;
    	}
    	.forwho-text h3{
    		margin-top: 0;
    	}
    	.reason-container .col-sm-4{
    		margin-bottom: 20px;
    	}
    	.reason-container .col-sm-4:last-child{
    		margin:0;
    	}
    	.stepbystep{
    		margin:0 20px 0;

    	}
    	.stepbystep .step{
    		border:1px solid #111;
    		margin-bottom: 10px;
    		height: auto;
    		min-height: auto;
    	}
    	.testimonial-title{
    		height: auto;
    		padding: 40px 0;
    		min-height: auto;
    	}
    	.testimonial-title h3{
    		position: static;
    		margin:0;
    	}
    	.testi-container{
    		padding:50px 20px 100px;
    	}
    	.footer-container .row >div{
    		margin-bottom: 10px;
    	}

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }








