body{
    font-size: 16px;
}
*{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin-bottom: 10px;
}
p:last-of-type{
    margin:0;
}
.col10{
/*padding10 each col*/
 margin:0 -10px;
}
.col10 > * {
    padding:0 10px;
}
.nogutter{
  margin:0;   
}
.nogutter > *{
    padding:0;
}
.rowflex{
    display: flex;
    flex-wrap: wrap;
}
.content-section{
    margin-left: 90px;
}
.content-section b{
    font-weight: 600!important
}
.sec-content-part {
    width: 90%;
    margin:0 auto;
}
.logofont{
    font-family: Novecentosanswide-medium;
    display: inline !important;
}
.logique-nav{
    height: auto; 
    border-radius: 20px;
}
.logique-nav.logique-nav--update .margin-for-nav{
    margin:10px 0;
}
.logique-nav.logique-nav--update .margin-for-nav > div{
    padding-left: 10px;
}
.content-wrapper__.header {
    background: url(../../pembuatan-sistem-web/img/newlayout/top-bg.jpg) no-repeat;
    background-size: cover;
    padding: 128px 0 84px 90px;
    margin:0;
}
.breadcrumb-container{
background: #000000;
padding:2px 0;
}
.breadcrumb--update-design {
    padding:0; 
}
.breadcrumb--update-design a{
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.breadcrumb--update-design li.active a{ 
    color: #fff;
}
.systedev-page h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 25px;
}
.systedev-page h3 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 10px;
    font-weight: 600;
}
.systedev-page h3 p{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.btn-yellow {
    min-width: 285px;
    background: #ffca00;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 22.5px;
    color: #000;
    display: inline-block;
}
.header h3 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}
.sec-content-part{
    margin-bottom: 70px;
}
.sec-content-part:last-child{
    margin-bottom: 0;
    }
.btn-yellow:hover{
    background-color: #ffd74f;
    color: #000;
 
}
.btn-yellow span.icon{
    float: right; 
    }
.btn-yellow:before, .btn-yellow:after {
    content: '';
    display: table;
}
.section-desc{
    padding: 70px 0;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 30px;
    width: 75%;
    margin:0 auto;
}
section{
    padding: 70px 0;
}
section h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}
.whyour-systemdev{
    margin-bottom: 100px;
}
.whyour-systemdev.sec-content-part, .sec-content-part.contact-banner, .sec-content-part.testimonial{
    width: 100%;
}
.whyour-systemdev.sec-content-part .tab-content{
    width: 90%;
}
.whyour-systemdev ul{
    padding: 0;
    margin:0 0 40px 0;
    text-align: center;
}
.whyour-systemdev ul li{
 
    display: inline-block;
    float: none;
    width: 23%;
    padding: 0 8px;
 
 
}
.whyour-systemdev ul li a{
    border-radius: 22.5px;
    color: #9d9d9d;
    background: #eeeeee;
    padding:10px 15px;
    display: block;
    border:1px solid transparent;
 
}
.whyour-systemdev .nav-pills>li.active>a:hover, .whyour-systemdev .nav-pills>li>a:hover{
    border:1px solid #000;
     color: #000;
}
.whyour-systemdev  .nav-pills>li.active>a,  .whyour-systemdev  .nav-pills>li.active>a:focus{
    background: #ffca00;
    color: #000;
}
.whyour-systemdev .tab-content { 
    margin:0 auto 50px ;
} 
.skema-list > .row{
    margin-bottom: 50px;
}
.skema-list > .row:last-child{
    margin:0;
}
.skema-list > .row:nth-child(even) .skema-img, .skema-list > .row:nth-child(odd) .skema-content{
    padding: 0 50px 0 0;
}
.skema-list > .row:nth-child(odd) .skema-img, .skema-list > .row:nth-child(even) .skema-content{
    padding: 0 0px 0 50px;
}
.skema-content h3{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-left: 25px;
}
.skema-content h3 span.number{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: normal;
}

.whyus-section {
    background-image: url(../../pembuatan-sistem-web/img/newlayout/whyus-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: rgb(255, 202, 19, 0.2);
    min-height: 300px; 
}
.whyus-section .sec-content-part{
    margin-bottom: 0;
} 
.whyus-accordion  .panel{
    border:0;
    border-radius: 0;
    box-shadow: none;
     background:transparent;
     margin-bottom: 30px;
}
.whyus-accordion .panel-heading{
    background: transparent;
    border:0;
    padding:0;
    border-radius: 0;
    box-shadow: none;
}
.whyus-accordion .panel-heading h4 a{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding: 5px 10px 0px  75px ;
    min-height: 45px;
}

.whyus-accordion .panel-heading h4 a span{
    position: absolute;
    left: 0;
    padding: 6px 0px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    top: 0;
    line-height: 32px;
}
.whyus-accordion .panel-heading h4 a.actives{
    background-color: #fff;
    border-radius: 22.5px;
}
.whyus-accordion .panel-heading h4 a.actives span{
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.12);
}
.whyus-accordion  .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border:0;
    background:transparent;
    box-shadow: none;
}
.whyus-accordion .panel-collapse{
    padding:0px 0px 0px 75px;
}
.whyus-accordion  .panel-default>.panel-heading+.panel-collapse>.panel-body{ 
    border-left: 5px solid #ffca13;
    padding:0 15px 0;
    margin-top: 15px;
}
.unsupport-content{
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1), 0px 23px 21px -18px rgba(0, 0, 0, 0.25);
    padding:30px 28px 20px 28px;
    height: 100%;
}
.unsupport-content h3{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.unsupport-content h3 div{
    display: block;
    text-align: center;
    width: 100%;
}
.unsupport-info{
    text-align: justify;
}
.unsupport-icon img{
    width: 63px;
    height: auto;
    min-height: 63px;
}
.unsupport-icon {
    padding:40px 0;
}
.unsupport-desc{
    padding-top: 40px;
}
.text-slide-content{
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-slidertext-left.jpg) no-repeat left top, url(../../pembuatan-sistem-web/img/newlayout/bg-slidertext-right.jpg) no-repeat right bottom #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
    padding: 101px 20px 70px 43px; 
    height: 100%;
    background-size: contain;
}
.img-slide-content{
    background: #f8f8f8;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}
.img-slide-content  div.slick-slider, .img-slide-content .slick-list, .img-slide-content .slider-item, .img-slide-content .slick-track{
    height: 100%;
}
.img-slide-content .slider-item{
        padding: 49px 40px 70px;
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
}
.company-studycase , .technology-studycase{
    margin-bottom: 40px;
}
.technology-studycase strong{
    font-weight: 600 !important;
}
.sliderimg-studycase > button{
    position: absolute;
    bottom:  30px;
    z-index: 9;
    border-radius: 50%;
    border:0;
        height: 40px;
    width: 40px;
}
.sliderimg-studycase > button.slick-prev {
    left: 15px;
}

.sliderimg-studycase > button.slick-next {
    right: 15px;
}
.sliderimg-studycase > button.slick-prev img, .sliderimg-studycase > button.slick-next img{
    opacity: 0.2;
}
.sliderimg-studycase .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;

}
.sliderimg-studycase > button.slick-prev:hover img, .sliderimg-studycase > button.slick-next:hover img{
    opacity: 1;
}
.sliderimg-studycase > button.slick-next:hover, .sliderimg-studycase > button.slick-prev:hover{
    background: #fff;
}
.sliderimg-studycase.slick-slider{
    height: 100%;
}
.sliderimg-studycase .slick-dots li{
    display: inline-block;
    font-size: 0;
    padding: 0 5px;
}
.sliderimg-studycase .slick-dots li button{
    font-size: 0;
    border:0;
    background: #111;
    border-radius:50%;
    width: 10px;
    height: 10px;
    padding: 0px;
}
.sliderimg-studycase .slick-dots  .slick-active button{
    background: #ffd74f;
}
.sliderimg-studycase h3{
    font-size: 20px;
    font-weight:600; 
}
.success-service-list > .row > div{
    margin-bottom: 20px;
}
.success-item{
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.11);
    padding: 20px 15px 25px 15px;
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-scitem.png) no-repeat right bottom;
    height: 100%;
}
.success-item.sc-seeall{
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-scitem.png) no-repeat right bottom #ffca13;

}
.success-item .icon-container{
    margin-bottom: 26px;
}
.success-item .scitem-content {
    padding-bottom: 30px;
}
.success-item .scitem-content h3, .success-item .scitem-content p{
    letter-spacing: 0.08px;
    line-height: 22px;
    font-size: 14px;
} 
.success-item.sc-seeall .other-success-item{
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    height: 48px;
    width: 48px; 
    margin-bottom: 20px;
}
.showmore .success-item.sc-seeall .other-success-item img{
    height: 20px;
    margin-top: 50%;
    transform: translatey(-10px) rotate(90deg);

}
.showless{
    height: 310px;
}
.showless .success-item.sc-seeall .other-success-item img{
    height: 20px;
    margin-top: 50%;
    transform: translatey(-10px) rotate(-90deg);

}
.success-item a.more-icon{
    text-decoration: underline;
    font-style: italic;
}
.success-item a.more-icon:hover{
    text-decoration: none;
}
.success-item.sc-seeall  .center-btn{
    margin-top: 50%; 
    transform: translateY(-20px); 
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}
 
.testislider-item {
    padding:0 20px;
    width: 635px;
    padding-bottom: 25px;
}
.testislider-item .client-container{
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-testimonial.png) no-repeat bottom right;
    border-top: 10px solid #FFCA13;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0px 23px 21px -18px rgba(0, 0, 0, 0.25);
}
 ul.clientinfo{
    margin:0 0 30px;
    padding:0;
}
 ul.clientinfo li{
    display: inline-block;
    padding-right: 30px;
    vertical-align: top;
}
.client-name{
    font-size: 20px;
    font-weight: 600;
    display: block;
}
.client-position{
    font-size: 18px;
}
.client-testimoni{
    margin-bottom: 15px;
}
.slick-initialized .testislider-item.slick-slide{
    padding-top: 15px;
    opacity: 0.3
}
.slick-initialized .testislider-item.slick-slide.slick-current.slick-active {
    padding: 0;    
    opacity: 1;
}
.content-section.first-part, .content-section.fourth-part, .content-section.fifth-part, .content-section.sixth-part, .content-section.seventh-part, .content-section.eighth-part, section.dm__other-service, section.dm__links{
    padding-top: 0;
}

.importantpoint-item{
    background: #fff;
    border-radius: 4px;
    border: 1px solid #efefef;
    box-shadow: 0px 23px 21px -18px rgba(0, 0, 0, 0.25);
    padding:30px 10px;
    height: 100%;
}
.importantpoint-item .icon-container{
    padding-top: 10px;
    margin-bottom: 20px;
}
.importantpoint-item .icon-container img{
    width: 99px;
    height: 99px;
}
.contact-banner.sec-content-part {
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-contactbanner.jpg) no-repeat;
    background-size: cover;
    padding:30px 0;
}
.contact-banner ul{
    padding: 0;
    margin:0;
    display: block;
    text-align: center;
}
.contact-banner ul li{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding: 0 23px;
}
.contact-banner ul li a{
    margin-top: 5px;
    display: inline-block;
    box-shadow: 0px 23px 21px -18px rgba(0, 0, 0, 0.25);
}
.techlist{
    padding:0;
}
.techlist li{
    display: inline-block;
    width: 30%;
}
.usedtechnology .page-content{
    margin-bottom: 40px;
}
.whyphp {
    background: url(../../pembuatan-sistem-web/img/newlayout/bg-whyphp.jpg) no-repeat;
    background-size: cover;
    padding: 35px 0 40px 0;
    margin-bottom: 30px;
}
.w3tech-info {
    padding:30px 0 25px;
    margin: 0
}
.w3tech-info li{
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
}
.w3tech-info li:nth-child(2){
    padding-top: 35px;
}
.whyphp .img-contianer{
    padding-top: 20px;
}
.othertech p ..othertech div{
    line-height: 30px;
}
.jsfw-container{
    padding-top: 20px;
}
.js-desc{
    padding-top: 20px;
}
.jsframework{
   padding: 30px 0 30px;
   margin: 0 ;
}
.jsframework li{
    display: inline-block;
    padding: 0 40px;
}
.jsframework li img{
    margin-bottom: 15px;
}
.js-desc-continer{
    padding-top: 30px;
    width: 70%;
    margin:0 auto 40px;
}
.otherinfo-item{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.otherinfo-desc{ 
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    background:url(../../pembuatan-sistem-web/img/newlayout/black-dot.png) no-repeat right bottom , url(../../pembuatan-sistem-web/img/newlayout/bg-otehrinfo.png) no-repeat;
    background-size: 35px, cover;
    padding: 20px 30px 20px 10px;
    color: #000;
 }
 .otherinfo-item a>img{
   object-fit: cover;
   width: 100%;
 }
.otherinfo-item:hover{
  box-shadow: 0px 29px 21px -19px rgba(0, 0, 0, 0.21);
}
.otherservice-list{
    font-size: 18px;
    letter-spacing: 0.23px;
    line-height: 26px;
}
.otherservice-list img{
    border-radius: 10px;
    max-width: 100%;
}
.otherservice-list h3{
    font-size: 18px;
    margin:0;
    padding: 10px 0;
    letter-spacing: 0px;
    line-height: 30px;
}
.otherservice-list a{
    color: #000;
    display: block;

}
.otherservice-list a:hover h3{
    color: #FFC911;
}
.otherservice-list a:hover > img{
    box-shadow: 0px 29px 19px -16px rgba(0, 0, 0, 0.25);
    margin-top: -20px;
    margin-bottom: 20px;
}
.testimonial-slider .slick-dots {
    text-align: center;
}
.testimonial-slider .slick-dots li{
    display: inline-block;
    font-size: 0;
    border-radius: 50%;
    border:0;
    border: 1px solid #ccc;
    margin:0 5px;
    padding: 2px;
}
.testimonial-slider .slick-dots li button{
    border:0;
    background: #ccc;
    height: 12px;
    width: 10px;
    border-radius: 50px;
    display: block;
}
.testimonial-slider .slick-dots .slick-active button{
    background: #ffca13;
}
.testimonial-slider  .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-15px);
    z-index: 999;
    font-size: 0;
    border:0;
    background: transparent;
/*    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.7);*/
}
.testimonial-slider  .slick-arrow img{
    width: 30px;
}
.testimonial-slider  .slick-arrow.slick-prev{
    left: 20%;
}
.testimonial-slider  .slick-arrow.slick-next{
    right: 20%;
}
/* modal css*/
.modal-backdrop.in {
    background: rgba(65,65,65,0.35);
}
.modal-achivement .modal-header{
    background: #ffca13;
    color: #000;
    position: relative;
    border:0;
}
.modal-achivement .modal-content{
    border: 0 !important;
}
.modal-achivement .modal-header h4{
    padding-right: 50px;
    font-size: 16px;
    font-weight: 600;
}
.modal-achivement .modal-header .close {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #000;
    text-align: center;
    padding: 20px;
    right: -10px;
    top: -10px;
    opacity: 1;
    border-radius: 50%;

}
.modal-achivement .modal-header .close img{
    height: 15px;
    width: 15px;
} 
.modal-achivement .subheader{
    background: rgba(0,0,0,0.05);
    padding: 10px;
    text-align: center;
}
.modal-achivement  .modal-dialog{
    border-radius: 8px;
    box-shadow: 0px 29px 21px -19px rgba(0, 0, 0, 0.21);
    overflow: hidden;
    border:0;
}
section.dm__other-service, section.dm__links{
    padding: 0;
}
section.dm__links .links__item h3 {
    font-weight: 300 !important;
    font-size: 28px;
    margin: 0;
    line-height: 1.7;
}
section.dm__other-service .other-service__list h4 {
    font-weight: 400 !important;
    font-size: 22px;
    margin: 10px 0;
    line-height: 1.7;
}
section.dm__other-service  strong, section.dm__links   strong {
    font-family: Novecentosanswide-medium;
    display: inline !important;
    font-weight: normal !important;
}
@media (max-width: 1199px) {   }

@media (max-width: 991px) {   }

@media (max-width: 762px) { 
    .success-service-list > .row > div:last-child {
        height: auto;
    }
    .whyus-accordion .panel-collapse{
        padding-left: 40px;
    }
    .content-section{
        margin-left: 0px;
    } 
    .content-wrapper__.header{
        padding-left: 0;
    }
    .sec-content-part{
        width: 100%;
    }
    .col10{
        margin:0 -15px;
    }
    .col10 > div{
        padding: 0 15px;
    }
    img{
        max-width: 100%;
    } 
    .skema-list > .row:nth-child(even) > div:first-child {
        order: 2;
    }
     .skema-list > .row:nth-child(even) > div:last-child {
        order: 1;
     }
     .skema-list > .row:nth-child(odd) .skema-img, .skema-list > .row:nth-child(even) .skema-content{
        padding: 0;
     }
     .skema-list > .row:nth-child(even) .skema-img, .skema-list > .row:nth-child(odd) .skema-content{
        padding: 0;
     }
     .skema-list .row .skema-img {
        padding-top: 10px !important;
     }
    .first-part .section-desc{
        width: 100%;
        padding: 0px 15px;
     }
     .wrapper .navbar-collapse {
        padding: 0;
        position: fixed;
        z-index: 99;
        width: 100%;
        margin-top: -1px;
    }
    .logique-nav {
        margin-right: -150px;
        margin-left: auto;
        position: relative;
        float: right;
        margin-top: 0;
        height: 100%;
        border-radius: 0;
    }

    .content-wrapper__.header{
        padding: 30px 0;
    }
    .whyour-systemdev ul li{
        display: block;
        width: 100%;
        border: 0;
        padding: 0;
        margin:0;
        border-bottom: 1px solid #ccc;
    }
    .whyour-systemdev ul li:last-child{
        border:0;
    }
    .whyour-systemdev .nav-pills>li >a{
        border-radius: 0;
        border:1px solid transparent;
    }
    .whyour-systemdev .nav-pills{
        border-radius: 10px;
        overflow: hidden;
    }
    .tab-pane.active .row > div {
        padding-bottom: 10px;
    }
    .unsupport-service > .page-content .row > div{
        padding-bottom: 20px;
    }
    .unsupport-desc{
        padding-top: 25px
    }
    .btn-yellow{
        min-width: 0;
    }
    .studycase .page-content .row > div{
        width: 100%;
    }
    .text-slide-content { 
        padding: 50px 20px 50px 20px; 
    }
    .success-service-list > .row > div{
        width: 100%;
    }
    .success-item .scitem-content h3{
        height: auto !important;
    }
    .success-item.sc-seeall .center-btn{
        margin-top: 20px;
        transform: translateY(-10px);
    }
    .testislider-item{
        padding: 0 0 20px 0;
    }
    .testislider-item .client-container{
        margin:0 10px;
    }
    .importantpoint-list > .row > div{
        padding-bottom: 20px;
    }
    .techlist{
        padding-top: 20px;
    }
    .w3tech-info li{
        display: block;
    }
    .w3tech-info li:nth-child(2){
        padding: 20px;
    }
    .w3tech-info li:nth-child(2) img{
          transform:rotate(90deg);
          width: 30px;
    }
    .js-desc-continer{
        width: 100%;
    }
    .jsframework li {
        padding:0 20px;
    }
 
    .otherinfo-list .row > div{
        padding-bottom: 20px;
        width: 100%;
    }
    .otherinfo-list .row > div:last-child{
        padding-bottom: 0;
    }
    .otherservice-list img{
        max-width: none;
        width: 100%;
    }
    .otherservice-list .row > div{
        padding-bottom: 20px;
    }
     .otherservice-list .row > div:last-child{
        padding-bottom:0;
     }
     .testimonial-slider .slick-arrow.slick-next{
        right: 0;
     }
     .testimonial-slider .slick-arrow.slick-prev{
        left: 0;
     }
     .slick-initialized .testislider-item.slick-slide{
        padding: 0;
        opacity: 1;
     }
}

@media (max-width: 575px) {   }

 


 


 
