html,
body {
    font-family: 'Raleway', 'sans-serif';  
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.7;
    font-size: 15px;
}
.top-header-continer {
  background: #000000;
}
.top-header-continer .logo {
    padding: 10px 0 5px;
    display: inline-block;
    margin-left: 50px;

}
.top-header-continer .logo img{
  height: 15px;
  width: auto;
  line-height: 0;

}
/* NAVIGATION */
.logique-nav {
    width: 95px;
    background: rgba(255, 202, 19, .9);
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    perspective: 1000px;
    padding: 0;
    font-weight: 300;
    transition: all .25s;
    overflow: auto;
  left: 0;
}
.logique-nav .text-center {
    padding: 5px 10px;
    line-height: normal;
}
.logique-nav .text-center.active,
.logique-nav .text-center.active:focus,
.logique-nav .text-center.active:hover {
    background: #212425
}
.logique-nav .text-center:focus,
.logique-nav .text-center:hover {
    background: #666
}

.logique-nav .text-center:focus a,
.logique-nav .text-center:hover a {
    color: #fff
}
.logique-nav a {
    color: #000;
    text-decoration:none!important;
    font-size: 12px;
}
.logique-nav .text-center.active a,
.logique-nav .text-center.active:focus a,
.logique-nav .text-center.active:hover a {
    color: #fff
}
/*.margin-for-nav {
    margin-top: 0
}*/
.btn-container-contact{
    margin-top: 20px;
}
.btn-contact-us-black {
    background: #000;
    border-radius: 5px;
    color: #fff !important;
    font-size: 18px;
    padding: 10px 60px;
    white-space: normal;
}
.style-4 .card{
    height: auto;
    padding-bottom: 0;
}
.style-4 .card .box-2{
    margin-bottom: 0;
}
.nav-lp .navbar-collapse {
    padding: 0;
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-top: -1px;
}
.vcenter {
    display: flex;
    align-items: center;
}
 
.card section{margin-left:0}
.nav-lp .navbar-toggle.collapsed {
    background-color: #ffca13!important;
    position: relative!important;
    right: 0!important;
    top: -80px;
}
.nav-lp .navbar-toggle {
    background-color: #ffca13!important;
    z-index: 9999;
    position: fixed;
    right: 80px;
    border-radius: 0;
    height: 34px;
    top: -7px;
}
.nav-lp .navbar-toggle.collapsed .icon-bar.first {transform: rotate(0)!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.second {background: #000!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.third {transform: rotate(0)!important;margin-top: 4px!important;}
.nav-lp .navbar-toggle .icon-bar {background: #000;transition: all .5s;}
.nav-lp .navbar-toggle .icon-bar.first {transform: rotate(45deg);}
.nav-lp .navbar-toggle .icon-bar.second {background: 0 0;}
.nav-lp .navbar-toggle .icon-bar.third {transform: rotate(-45deg);margin-top: -8px;}

.img-about,
.img-blog,
.img-career,
.img-contact,
.img-home,
.img-portfolio,
.img-services , .img-product{
    height: 44px;
    width: 44px
}
.img-home {
    margin: auto;
    background: url(/img/nav-img.png) -2px -4px no-repeat
}
.logique-nav .text-center.active .img-home,
.logique-nav .text-center.active:focus .img-home,
.logique-nav .text-center.active:hover .img-home,
.logique-nav .text-center:focus .img-home,
.logique-nav .text-center:hover .img-home {
    background: url(/img/nav-img-white.png) -2px -4px no-repeat
}
.img-about {
    margin: auto;
    background: url(/img/nav-img.png) -2px -62px no-repeat
}
.logique-nav .text-center.active .img-about,
.logique-nav .text-center.active:focus .img-about,
.logique-nav .text-center.active:hover .img-about,
.logique-nav .text-center:focus .img-about,
.logique-nav .text-center:hover .img-about {
    background: url(/img/nav-img-white.png) -2px -62px no-repeat
}
.img-portfolio {
    margin: auto;
    background: url(/img/nav-img.png) -2px -123px no-repeat
}
.logique-nav .text-center.active .img-portfolio,
.logique-nav .text-center.active:focus .img-portfolio,
.logique-nav .text-center.active:hover .img-portfolio,
.logique-nav .text-center:focus .img-portfolio,
.logique-nav .text-center:hover .img-portfolio {
    background: url(/img/nav-img-white.png) -2px -123px no-repeat
}
.img-services {
    margin: auto;
    background: url(/img/nav-img.png) -2px -184px no-repeat
}
.logique-nav .text-center.active .img-services,
.logique-nav .text-center.active:focus .img-services,
.logique-nav .text-center.active:hover .img-services,
.logique-nav .text-center:focus .img-services,
.logique-nav .text-center:hover .img-services {
    background: url(/img/nav-img-white.png) -2px -184px no-repeat
}
.img-career {
    margin: auto;
    background: url(/img/nav-img.png) -2px -245px no-repeat
}
.logique-nav .text-center.active .img-career,
.logique-nav .text-center.active:focus .img-career,
.logique-nav .text-center.active:hover .img-career,
.logique-nav .text-center:focus .img-career,
.logique-nav .text-center:hover .img-career {
    background: url(/img/nav-img-white.png) -2px -245px no-repeat
}
.img-contact {
    margin: auto;
    background: url(/img/nav-img.png) -2px -308px no-repeat
}
.logique-nav .text-center.active .img-contact,
.logique-nav .text-center.active:focus .img-contact,
.logique-nav .text-center.active:hover .img-contact,
.logique-nav .text-center:focus .img-contact,
.logique-nav .text-center:hover .img-contact {
    background: url(/img/nav-img-white.png) -2px -308px no-repeat
}
.img-blog {
    margin: auto;
    background: url(/img/nav-img.png) -2px -374px no-repeat
}
.logique-nav .text-center.active .img-blog,
.logique-nav .text-center.active:focus .img-blog,
.logique-nav .text-center.active:hover .img-blog,
.logique-nav .text-center:focus .img-blog,
.logique-nav .text-center:hover .img-blog {
    background: url(/img/nav-img-white.png) -2px -374px no-repeat
}
.img-product {
    margin: auto;
    background: url(/img/nav-img.png) -2px -440px no-repeat;

}
.logique-nav .text-center.active .img-product,
.logique-nav .text-center.active:focus .img-product,
.logique-nav .text-center.active:hover .img-product,
.logique-nav .text-center:focus .img-product,
.logique-nav .text-center:hover .img-product {
    background: url(../img/nav-img-white.png) -2px -440px no-repeat
}
.logique-nav.in-jp a {
  font-size: 12px;
}
.language-btn {
  padding: 7px 0;
}
.language-btn ul {
  margin-bottom: 0;
}
.language-btn li{
  padding-left: 10px;
}
.language-btn li a{
  color: #fff;
  font-size: 11px;
  font-weight: bold;
    padding: 0 5px;
}
.language-btn li.active a{
  display: block;
  background: #ffc914;
  border-radius: 10px;
  color:#111;
  padding: 0 5px;
}
.language-btn li  a:hover{
  display: block;
  background: #ffc914;
  border-radius: 10px;
  color:#111;
  padding: 0 5px;
  text-decoration: none;
}
.breadcrumb{
  background: transparent;
  padding:10px 0;
  margin-bottom: 0;
  margin-left:50px;
  font-size: 14px;
}
 
.top-pricerange  {
  background: url(../img/img-price-range/top-header.jpg) no-repeat   center 30px;
  /*background-size: 100%;*/
  min-height: 650px;
}
.header-content{
  position: relative;
}
.header-content h1{
  position: absolute;
  top: 14px;
  left: 47%;
  color: #fff;
  margin:0;
}
.headerinfo{
  width: 260px;
  font-size: 18px;
  color: #fff;
  float: right;
  margin-top: 35px;
  line-height: 28px;
  font-weight: normal;
}
.price-item h3{
  display: inline-block;
  padding: 10px 30px;
  transform: skew(20deg);
  margin-left: 250px;
  margin-bottom: 0;
  margin-top:0;
  margin-right: 30px;
}
.section-style{
  padding: 50px 0 0;
}
.price-title{
    margin-bottom: -30px;
    font-size: 18px;
}
.price-item {
  margin-bottom: 50px;
}
.price-item.pt-4{
  margin-bottom: 0
}
.price-item h3 span{
  transform: skew(-20deg);
  display: block;
}
.pt-1 h3{
  background: #bcd426;
}
.pt-2 h3{
  background: #26d4a0;
}
.pt-3 h3{
  background: #7867e0;
}
.pt-4 h3{
  background: #f7953c
}
.price-cont{
  margin-top: 50px;
  font-size: 18px;
}
 .pt-1 .price-cont .row > div:first-child{
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,252,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(243,252,191,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,252,191,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,252,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,252,191,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(243,252,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3fcbf', GradientType=1 );
  padding-top: 23px;
  text-align: center;
 
}
 .pt-2 .price-cont .row > div:first-child{
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(192,252,234,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(192,252,234,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(192,252,234,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(192,252,234,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(192,252,234,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(192,252,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0fcea', GradientType=1 ); 
  padding-top: 23px;
  text-align: center;
 
}
 .pt-3 .price-cont .row > div:first-child{
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(221,217,250,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(221,217,250,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(221,217,250,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(221,217,250,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(221,217,250,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(221,217,250,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ddd9fa', GradientType=1 ); 
  padding-top: 23px;
  text-align: center;
 
}
 .pt-4 .price-cont .row > div:first-child{
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(253,231,214,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(253,231,214,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(253,231,214,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(253,231,214,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(253,231,214,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(253,231,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fde7d6', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ddd9fa', GradientType=1 ); 
  padding-top: 23px;
  text-align: center;
 
}
.price-cont .row:last-child >  div:first-child{
  padding-bottom: 25px;
    min-height: 182px;
}
.price-cont .row > div:last-child{
 
  border-top: 2px solid #ccc;
  margin-left: -20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 30px;

}
.price-cont .row:last-child >  div:last-child{
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.product-content{
  padding-left:20px
}
.estimate-title{
  border-left: 20px solid #2f2f2f;
  padding-left: 15px;
  font-size: 18px;
  margin-top: 30px;
}
.estimate-title h2{
  font-size: 26px;
  margin-top: 0;
  font-weight: normal;
}
.estimate-item, .other-price-container{
  font-size: 18px;
  margin-top: 20px;
  background: #fdf8e6;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 30px;
}
.other-estimate{
  padding-top: 30px;
}
.other-estimate-title {
  font-size: 18px;
}
.other-estimate-title h3{
  font-size: 26px;
  margin:0;
  border-left: 20px solid #2f2f2f;
  padding-left: 20px;
}
.other-estimate-title div{
  padding-left: 40px;
  line-height: 30px;
  color: #2f2f2f;
}
.other-price-container .other-price-item{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.btn-container-contact{
    margin-top: 20px;
}
.btn-contact-us-black {
    background: #000;
    border-radius: 5px;
    color: #fff !important;
    font-size: 18px;
    padding: 10px 60px;
    white-space: normal;
}
footer {
    background-color: #000;
    padding: 30px 10px;
    z-index:5;
 
    margin-top: 50px;
}
footer .footer-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px
}
footer .link-footer {
    text-align: left;
}
footer h5, footer h6 {
    font-size: 14px;
    line-height: 30px;
  margin:0
}
footer a {
    color: #fff!important
}
.link-footer .medsos-new .fa {
    font-size: 35px;
    margin-top: 10px;
}
footer span,footer div, footer a {
    font-size: 14px;
    color: #fff !important;
}
footer a:hover,
footer a:hover div{
    color: #ffca13!important
}
.font-16{font-size:16px}
.inline-block{display:inline-block}
.img-fluid{width:100%}
.link-footer .medsos-new .fa-facebook-official:hover{color:#3b5999}
.link-footer .medsos-new .fa-twitter:hover{color:#0084ff}
.link-footer .medsos-new .fa-instagram:hover{color:#e4405f}
.link-footer .medsos-new .fa-linkedin-square:hover{color:#0077B5}
.footer{background:#fcc515;padding:20px 0;text-align:center;letter-spacing:0.625px;font-size: 16px;}
.footer a{color:#000!important;text-decoration:underline;font-weight:bold}
.garis {display: inline-block;}
.div-top{padding:40px 0 60px;background:#ffca13;}
.div-top .title{font-size:30px;color:#fff;padding:19.5px;background:#000;position:relative}
.div-top .title img{position: absolute;left: 0;top: -19.5px;}
.bg-black-title{font-size:24px;font-weight:700;color:#fff;background:#000;padding:10px 15px;text-align:center}
.masalah-top{background:#f2c013;background-image:url('../img/img-digital-marketing/bg-masalah-top.png');background-size:100%;background-repeat:no-repeat;font-size:16px}
.masalah-bottom{font-size:17px;font-weight:bold;text-align:center;background:#d4a811;padding:20px 0;color:#000}
.one-problem{margin:20px 0;padding-left:20px;position:relative}
.masalah-top .one-problem:first-child{margin-top: 30px;}
.masalah-top .one-problem:last-child{margin-bottom: 30px;}
.one-problem:before{
  position: absolute;
    content: '';
    width: 6px;
    height: 30px;
    background: #000;
    left: 0;
    top: 3px;
}
.p-padding-v-15 {
  margin: 0;
  padding: 15px 0;
}
 

ul.medsos-new li{
    display: inline-block;
    padding:0 5px;
}

ul.medsos-new{
    padding: 0;
}
ul.medsos-new li a{
    font-size: 26px;
}

.footer-title,
.link-footer-nav,
.title-bg-grey {
    font-weight: 700
}
.link-footer-nav ul li{
    list-style: none;
}
.link-footer-nav ul li  ul{
    padding-left: 20px;
}
.link-footer-nav li a{
    font-weight: normal;
    padding-bottom: 10px;
    display: block;
}
.footer-title,
.link-footer-nav,
.title-bg-grey {
    font-weight: 700
}
.link-footer-nav ul li{
    list-style: none;

}
.link-footer-nav ul li  ul{
    padding-left: 20px;
}
.link-footer-nav li a{
    font-weight: normal;
    padding-bottom: 10px;
    display: block;
}
.link-footer-nav .have-submenu a{
    padding: 8px 0;
    line-height: normal;

}
.link-footer-nav > ul > li{
    border-bottom: 1px dotted #666;
}
.link-footer-nav > ul > li > a{
    padding: 8px 0;
    line-height: normal;
    }
    
.link-footer-nav > ul > li.have-submenu > ul > li:first-child  > a{
    padding-top: 0;
 
}
.link-footer-nav > ul > li.have-submenu > ul > li:last-child  > a{
    padding-bottom: 8px;
    }
.link-footer-nav .have-submenu li.have-submenu li a{
    font-size: 12px;
    padding: 1px 0;
    
}
.link-footer-nav .have-submenu li li {
    list-style: disc;
    
}
.link-footer {
    line-height: 30px;
    text-align: left;
    color: #fff;
}
.link-footer p{
    color: #fff;
}
.footer-title {
    font-size: 16px
}
    .backdrop-test {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 999;
      opacity: .7;
      display: none;
      top: 0;
  }
.logique-nav.in-jp {
    line-height: normal;
}
@media (min-width:1200px) {
    .margin-for-nav {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        position: relative
    }
}
@media screen and (max-width:1024px) {
    .top-header-continer .logo, .breadcrumb{
    margin-left: 70px;
    }
  }
@media screen and (max-width:979px) {
  .top-header-continer .logo, .breadcrumb{
    margin-left: 95px;
  }
    .logique-nav {
        background: rgba(255, 202, 19, 1)
    }
    .top-pricerange{
    min-height: 0;
      background-size: cover;
 
    }
  .breadcrumb{
    padding-bottom: 5px
  }
    section.section-style{
      padding-left: 0px;
    }
    .price-item h3 {
      margin-left: 125px;
    }
    .price-title, .price-cont{
      font-size: 14px;
    }
    .headerinfo{
      margin-bottom: 50px;
      background: rgba(0,0,0,0.7);
      padding: 20px;
      width: 300px;
    }
    .header-content h1{
      top: 0px;
      left: 42%;
      font-size: 30px;
    }
 
    .breadcrumb li, .breadcrumb>.active{

      font-size: 11px;
      color: #fff;
    }
    .breadcrumb a{
      font-size: 11px;
    }
    .estimate-title, .estimate-item, .other-price-container, .other-estimate-title{
      margin-left: 85px;
    }
    .estimate-title h2 {
      font-size: 24px;
    }
    .other-price-item{
      font-size: 16px;
    }
    footer{
      padding: 30px 0px;
    }
    .footer-container{
      padding-left: 95px;
    }
    .footer-container ul{
      padding: 0
    }
    .other-price-item .row > div{
      font-weight: bold;
    }
    .other-price-item .row > div:last-child{
      margin-top: 10px;
      font-weight: normal;
    }
} 
@media (max-width: 767px){
      .logique-nav {
        margin-right: -150px;
        margin-left: auto;
        position: relative
    }
    .collapse.in .logique-nav {
        margin-right: 0;
        padding-top: 0
    }
    .backdrop-test {
    display: block;
  }
  .margin-for-nav {
    margin-top: 0;
  }
  .wrapper .navbar-collapse {
    height: 100%!important;
  }
}
@media (max-width: 480px){
  .top-header-continer .logo{
    margin-left: 0;
  }
  .breadcrumb-cont{
    padding-left: 0;
  }
  .backdrop-test {
        display: block
    }
  .nav-lp .navbar-toggle.collapsed{
    top:0;
  }
  .logique-nav .text-center {
    padding: 5px 10px;
  }
  .nav-lp .navbar-collapse{
    height: 100% !important;
    overflow-y: auto;
  }
  .language-btn{
    text-align: left;
    padding:0 0 10px;
  }
  .language-btn li{
    padding-left: 0;
  }
  .navbar-toggle{
    margin-top: 15px;
  }
  .top-pricerange{
    background-size: 500%; 
    background-position: bottom;
  }
  .breadcrumb{
    padding: 5px 0;
  }
  .breadcrumb-cont{
    background: #ffca13;
  }
  .header-content h1{
    position: static;
    background: rgba(0,0,0,0.7);
      padding: 20px 20px 0;
      margin-top: 90px;
  }
  .price.headerinfo{
    margin-top: 0;
    width: 100%;
    padding: 10px 20px 20px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: normal;
  }
  .breadcrumb>li+li:before{
    padding: 0;
  }
   .price-item h3 {
    margin:0;
    font-size: 16px;
    vertical-align: top;
  } 
  .price-title h3 span{
    width: 100%;
    padding-left: 0;
  }
  .price-title span{
    width: 55%;
    display: inline-block;
    padding-left: 10px;

  }
  .price-title {
    margin-bottom: 0;
  }
  .price-cont .row:last-child > div:first-child{
    min-height: 150px;
  }
  .product-content{
    margin-bottom: 0
  }
  .price-cont .row > div:last-child{
    margin-left: -10px;
    padding-left: 25px;
 
  }
  .price-cont{
    margin-top:10px;
  }
 .estimate-title, .estimate-item, .other-price-container, .other-estimate-title, .footer-container{
    margin-left: 0;
  }
  .other-price-item > .row > div:nth-child(2){
    background: #ffca13;
    padding: 5px 15px;
    text-align: left !important;
  }
  .other-price-item > .row > div{
    margin-bottom: 5px;
  }
  .footer-container{
    padding: 0;
  }

}

/* additional */
.disclaimer-container p {
  background: #ffca13;
  margin: 0 auto;
  max-width: 700px;
  color: #000;
  padding: 15px 25px;
  font-weight: 700;
}
@media (min-width: 500px) {
  .disclaimer-container p {
    text-align: justify;
    text-justify: inter-word;
  }
}