@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Medium.woff2') format('woff2'),
        url('AvenirNextCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Avenir Next Condensed', sans-serif;
    overflow-x: hidden;
}

.header {
    background: #000;
    margin: 0 -1.5rem;
    padding: 9px 0px;
    position: relative;
    z-index: 10001;
}

.row-header {
    width: 20%;
    color: #ccc;
}

/* section atas */ 

.bg-atas-log-1 {
    background-image: url('../img/bg-atas-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8rem;
}

.first-div {
    padding: 0 0 57% 0;
}

.icon-top {
    top: 0;
    width: 60rem;
    height: 50rem;
    position: absolute;
}

.top-title {
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 3em;
    margin: 40% 15%;
    position: absolute;
}

h2.subtitle {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Avenir Next Condensed', sans-serif;
}

.p-desc {
    font-size: 18px;
    font-family: 'Avenir Next Condensed', sans-serif;
}

.lines {
    position: absolute;
}

.first-line {
    top: 15%;
    left: 32%;
    width: 42%;
    height: 10%;
}

/* end */

.text-padding-left {
    padding-left: 23%;
}

.text-padding-left-2 {
    padding-left: 6%;
}

.section-2 {
    margin-left: -20rem;
}

.second-line {
    top: 28%;
    left: 42%;
    width: 22%;
    height: 13%;
}

.third-line {
    top: 44%;
    left: 26%;
    width: 60%;
    height: 6%;
    z-index: -1;
}

.fourth-line {
    top: 58%;
    left: 36%;
    width: 37%;
    height: 5%;
}

.list-kiri {
    top: 61%;
    left: 0;
    position: absolute;
}

.list-kanan {
    top: 47%;
    right: 0;
    position: absolute;
}


.bg-atas-log-4 {
    background-image: url('../img/bg-bawah.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -2em;
}

.no-bg {
    margin-left: 11vh;
}


.text-pl2 {
    padding: 0 6em 0 0;
}

.ikon{
    top: -2rem;
    left: 10rem;
    width: 43rem;
    height: 25rem;
    position: absolute;
}

.ikon4 {
    width: 54rem;
    height: 25rem;
    margin-top: 2em;
}

.ikon-coding {
    width: 34rem;
    height: 21rem;
}

.logo {
    margin: 1rem 0;
}

.logo-atas {
    width: 11rem;
    height: 2rem;
    margin: 0.5rem 0;
}

.btn-round {
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 22px;
    border-radius: 2em;
    border: 1px solid rgba(190, 188, 186, 0.912);
    margin: 1em 0;
    padding: 6px 3em;
    color: #807f7f;
    background-color: rgba(245, 243, 241, 0.912);
    cursor: pointer;
}

.btn-round-group {
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 22px;
    border-radius: 2em;
    margin: 1.5em 80px;
    padding: 15px 1em;
    background-color: #dde0ee;
}

.set-first {
    margin: 0 0 12em 0;
}

.p12em {
    padding-top: 12em;
}

.p2em {
    padding-top: 2em;
}

.pr-ikon {
    padding-right: 37em;
}

.justify-content-center {
    justify-content: center;
    display: inline;
}

.h1-desc {
    font-size: 2em;
}

.language-btn {display: flex;position: inherit;right: 0;top: 0;}
.list-inline{margin-right: 22px !important; margin-left: 60% !important;}
.list-inline>li {margin: 0 1rem;}
.list-inline>li.active {background-color: #ebc033;border-radius: 1em;padding: 3px 21px;}
.list-inline>li.active a {color: #000}
.list-inline>li a {color: #fff}

.row-centered {
    text-align:center;
    padding: 0 16em 70px 16em;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
}

/* footer */

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
}
footer a {
	color: #fff;
}
footer a:hover,
footer a:focus {
	color: #fff;
	text-decoration: none;
}
footer p {
	position: relative;
	padding-left: 30px;
}
footer p:before {
	position: absolute;
	top: 0;
	left: 0;
}
[class*="btn btn-logic btn-sm"] {
   color: #333;
   width: 120px
}
[class*="rc-anchor rc-anchor-normal"] {
    width: 100px;
}
.logo-header{width: 220px;background: #000;padding: 20px;position: absolute;top: -90px;right: 5%;}
.link-footer-webdev a{display:block;margin-bottom:8px;text-decoration:underline!important}

.contact {
	background-color: #000;
	color: #fff;
}

.contact .form-control {
	background-color: transparent;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0;
}
.cs-custom{padding-top: 10px;width: 150px}
 .logo-header{width: 220px;background: #000;padding: 20px;position: absolute;top: -90px;right: 5%;}
 .link-footer-webdev a{display:block;margin-bottom:8px;text-decoration:underline!important}

 .copyright{border-top:1px solid #fff;padding:20px 0;color:#ffc914;text-align:center;background:#000;font-family: 'Lato', sans-serif;}

@media (max-width: 1199px) {
    .first-line {
        top: 12%;
        left: 35%;
    }
    .second-line {
        top: 24%;
        left: 45%;
    }
    .third-line {
        top: 41%;
    }
    .fourth-line {
        top: 56%;
    }
}
@media (max-width: 991px) {
    .first-line,
    .second-line,
    .third-line,
    .fourth-line {
        display: none;
    }
    .row-header {
        width: 40%;
    }
    .list-inline {
        margin-left: 35% !important;
    }
    .section-2 {
        margin-left: -16rem;
    }
}
@media (max-width: 768px) {
    .lines,.row-header {
        display: none;
    }

    .header {
        z-index: 1000;
    }

    .icon-top {
        left: 14rem;
        width: 58rem;
        height: 37rem;
    }

    .list-inline {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .first-div {
        padding: 0 0 50% 0;
    }
    
    .bg-atas-log-2 {
        background-color: #fff;
        margin-left: 0rem;
    }
    
    .bg-atas-log-1 {
        background-image: url('../img/bg-atas-1.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .no-bg {
        margin-left: 0 !important;
    }

    .btn-round-group {
        font-size: 9px;
    }

    .row-centered {
        padding: 0 3em;
    }

    .contact-us-res {
        text-align: center;
    }

    .pr-ikon {
        padding-right: 0em;
        margin-right: 0em;
    }

    .top-only {
        background-image: none;
    }

    .text-pl8 {
        padding: 0 15px;
    }

    .text-pl2 {
        padding: 0 15px;
    }

    .ikon {
        width: 36rem;
        height: 24rem;
        position: inherit;
    }

    .set-first {
        margin: 0 0 3em 0;
    }

    .bg-atas-log-1 {
        margin-left: -10em;
    }

    .ikon4 {
        width: 38rem;
        height: 16rem;
    }
}