html,
body { 
  line-height: 1.7;
  background-color: #fff;
  overflow-x: hidden;
  color: #000;
}
a,
b,
body,
caption,
center,
dd,
div,
em,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
menu,
nav,
ol,
p,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
u,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* line-height: 1.7; */
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
}

.wrapper .navbar-collapse {
  padding: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: -1px;
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
}

a:hover {
  text-decoration: none;
}

.backdrop-test {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0.7;
  display: none;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .nav-lp .navbar-collapse {
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100% !important;
    z-index: 99;
  }
}

.card section {
  margin-left: 0;
}
.nav-lp .navbar-toggle.collapsed {
  background-color: #ffca13 !important;
  /* position: relative !important; */
  /* right: 0 !important; */
  top: 10px;
}
.nav-lp .navbar-toggle {
  background-color: #ffca13 !important;
  z-index: 9999;
  position: fixed;
  right: 80px;
  border-radius: 0;
  height: 34px;
  /* top: -7px; */
}
.nav-lp .navbar-toggle.collapsed .icon-bar.first {
  -webkit-transform: rotate(0) !important;
  -ms-transform: rotate(0) !important;
  transform: rotate(0) !important;
}
.nav-lp .navbar-toggle.collapsed .icon-bar.second {
  background: #000 !important;
}
.nav-lp .navbar-toggle.collapsed .icon-bar.third {
  -webkit-transform: rotate(0) !important;
  -ms-transform: rotate(0) !important;
  transform: rotate(0) !important;
  margin-top: 4px !important;
}
.nav-lp .navbar-toggle .icon-bar {
  background: #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-lp .navbar-toggle .icon-bar.first {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-lp .navbar-toggle .icon-bar.second {
  background: 0 0;
}
.nav-lp .navbar-toggle .icon-bar.third {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -8px;
}
/*End Navigation*/
/*Footer*/
footer {
  z-index: 5;
  padding: 30px 0 10px;
  background-color: #212425;
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}

footer h5,
footer h6 {
  font-size: 14px;
  line-height: 30px;
}

.footer-title,
.link-footer-nav,
.title-bg-grey {
  font-weight: 700;
}
.link-footer-nav ul li {
  list-style: none;
}
.link-footer-nav ul li ul {
  padding-left: 20px;
}
.link-footer-nav li a {
  font-weight: normal;
  padding-bottom: 10px;
  display: block;
}
.link-footer-nav .have-submenu a {
  padding: 8px 0;
  line-height: normal;
}
.link-footer-nav > ul > li {
  border-bottom: 1px dotted #666;
}
.link-footer-nav > ul > li > a {
  padding: 8px 0;
  line-height: normal;
}

.link-footer-nav > ul > li.have-submenu > ul > li:first-child > a {
  padding-top: 0;
}
.link-footer-nav > ul > li.have-submenu > ul > li:last-child > a {
  padding-bottom: 8px;
}
.link-footer-nav .have-submenu li.have-submenu li a {
  font-size: 12px;
  padding: 1px 0;
}
.link-footer-nav .have-submenu li li {
  list-style: disc;
}
footer a {
  color: #fff !important;
}

footer a:hover {
  color: #ffca13 !important;
}

.link-footer {
  line-height: 30px;
  text-align: left;
}

@media (min-width: 768px) {
  .link-footer p {
    margin-bottom: 45px;
  }
}

.medsos-new .fa {
  font-size: 35px;
  margin-top: 10px;
}
.medsos-new .fa-facebook-official:hover {
  color: #3b5999;
}
.medsos-new .fa-twitter:hover {
  color: #0084ff;
}
.medsos-new .fa-instagram:hover {
  color: #e4405f;
}
.medsos-new .fa-linkedin-square:hover {
  color: #0077b5;
}
ul.medsos-new li {
  display: inline-block;
  padding: 0 5px;
}

ul.medsos-new {
  padding: 0;
}
ul.medsos-new li a {
  font-size: 26px;
}

.footer-title {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer-title {
    margin-top: 20px;
    border-bottom: 2px solid #ffca13;
    padding-bottom: 3px;
    display: inline-block;
  }
}

.copyright {
  font-size: 12px;
}
/*End Footer*/

.top-title,
.top-title:hover,
.top-title:focus{
  color: white;
  text-decoration: none;
}

.div-top {
  padding-top: 40px;
  background: #ffca13;
}
.div-top .title {
  font-size: 30px;
  color: #fff;
  padding: 19.5px;
  background: #000;
  position: relative;
}
.div-top .title img {
  position: absolute;
  left: 0;
  top: -19.5px;
}

.language-btn {
  position: absolute;
  right: 30px;
  top: 66px;
  z-index: 9;
}
.list-inline > li a {
  color: #fff;
}
.list-inline > li.active {
  border: solid 2px #fff;
  border-radius: 1em;
  padding: 2px 5px;
}
.list-inline > li.active a {
  color: #fff;
}

.content-area {
  margin-left: 90px;
}

.breadcrumb {
  padding: 8px 4%;
  border-radius: 0;
  margin: 0;
  background: white !important;
  border-bottom: 4px solid #f5f5f5;
}
.breadcrumb > li + li:before {
  color: black;
  content: "> ";
  padding: 0;
}
.breadcrumb > li > a {
  color: black;
}
.breadcrumb > li > a:hover {
  text-decoration: underline;
}
.breadcrumb > li.active > a {
  color: #ffca13;
}

@media (max-width: 767px) {
  .div-top .title {
    font-size: 18px;
    color: #fff;
    padding: 0;
    background: #000;
    position: relative;
  }
  .div-top .title .text-center {
    text-align: left !important;
  }
  .div-top .title img {
    position: relative;
    left: 0;
    top: 0;
    margin-right: 10px;
    width: 65px;
  }
  .language-btn {
    top: 6px;
    right: 6px;
  }
  .content-area {
    margin-left: 0px;
  }
  .breadcrumb {
    padding: 8px 15px;
  }
}

.banner-heading {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .cloud-bg {
    padding-top: 40px;
    background: url("../img/img-seo-maintenance/bg-cloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    min-height: 435px;
  }
}

@media (min-width: 1366px) {
  .cloud-bg {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .banner-mobile-content-style {
    width: 100%;
    background-color: #fff;
    padding-bottom: 30px;
  }

  .cloud-bg-mobile {
    background: url("../img/img-seo-maintenance/large-cloud.png");
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: center center;
    min-height: 435px;
  }
}

@media (max-width: 480px) {
  .banner-mobile-content-style .banner-mobile-content-style2 {
    margin-top: -70px;
  }
  .cloud-bg-mobile {
    background-size: cover;
  }
}

.top-tabs.sticky-top{
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 95px;
  margin-left: -95px;
  z-index: 10;
}

.sticky-top + .banner-seo-service{
  padding-top: 65px;
}

.top-tabs-mobile{
  border-top: 3px solid #dfdfdf;
  border-bottom: 3px solid #dfdfdf;
  display: none;
}

.top-tabs ul,
.top-tabs-mobile ul{
  /* position: fixed;
  top: 0; */
  display: flex;
  flex-flow: row wrap;
}

.top-tabs ul li,
.top-tabs-mobile ul li {
  flex: 1 0 150px;
  height: 65px;
}


.top-tabs .nav-tabs.nav-justified > li,
.top-tabs-mobile .nav-tabs.nav-justified > li {
  background: white;
  height: 65%;
  vertical-align: middle;
  /* width: 0; */
  line-height: 1 !important;
}
.top-tabs .nav-tabs.nav-justified > li > a,
.top-tabs-mobile .nav-tabs.nav-justified > li > a {
  border: 0;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  height: 64px;
}

.top-tabs .nav-tabs > li.active > a,
.top-tabs .nav-tabs > li.active > a:hover,
.top-tabs .nav-tabs > li.active > a:focus,
.top-tabs-mobile .nav-tabs > li.active > a,
.top-tabs-mobile .nav-tabs > li.active > a:hover,
.top-tabs-mobile .nav-tabs > li.active > a:focus {
  border: none;
  background: #eee;
}

.banner {
  padding-bottom: 3em;
}
.banner-text-wrapper {
  margin: 100px 0;
  border-radius: 0 10px 10px 0;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px 0;
}

.banner-text-wrapper h1 {
  color: black;
  font-size: 2.7em;
  padding: 0px 5% 0px 40%;
  position: relative;
  z-index: 1;
}

.banner-text-wrapper p {
  margin-top: -10px;
  color: black;
  font-size: 1.8em !important;
  padding-right: 1em;
  line-height: 1.4;
  padding: 10px 5% 20px 40%;
  position: relative;
  z-index: 1;
}

.img-fly-paper {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 0;
  width: 100%;
  max-height: 100%;
}

.img-web-illustration {
  position: relative;
  left: 40px;
  top: 60px;
}

.cards {
  background: white;
  padding: 7em 0 5em;
  display: table;
    border-collapse: separate;
  border-spacing: 1em 0;
}

.card section {
  margin-left: 0;
}

.card {
  display: table-cell;
  float: none;
  margin: 3em auto;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  position: relative;
  /* min-height: 900px; */
}

.card .card-ribbon {
  position: relative;
  top: -40px;
  max-width: 450px;
  margin: 0 auto;
}

.card .card-ribbon h3 {
  display: block;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  top: 7px;
  font-size: 20px;
  margin: 0.2em 0.5em;
}

.card .card-content p {
  text-align: center;
  font-size: 18px;
  padding: 2em 1em 1em 1em;
  color: black;
}


.first-page{
  background-image: url("../img/img-seo-optimization/bg-yellow.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  background-color: white;
}

.no-1 {
  padding-top: 2em;
}

.no-1 p {
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 480px) {
  .card .card-ribbon h3 {
    font-size: 16px;
    margin: -0.2em 0.1em;
  }
}

@media (max-width: 767px){

  .top-tabs-mobile{
    display: block;
  }

  .top-tabs{
    display: none;
  }
  .top-tabs.sticky-top{
    position: relative;
  }
  .sticky-top + .banner-seo-service{
    padding-top: 0;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 1219px) {
  .top-tabs .nav-tabs.nav-justified > li,
  .top-tabs-mobile .nav-tabs.nav-justified > li {
    height: 60px;
  }
  .top-tabs .nav-tabs.nav-justified > li > a,
  .top-tabs-mobile .nav-tabs.nav-justified > li > a{
    height: 64px;
  }
}

.banner-seo-service h2 {
  color: #000;
  font-size: 22px;
  margin-bottom: 10px;
}

.banner-seo-service p {
  font-size: 16px;
}

.banner-seo-service p strong {
  color: #000;
}

.btn-boost,
.btn-boost:hover {
  margin: 1em 0;
  display: inline-block;
  color: #ff1a03;
  border: 2px solid #dc3a2a;
  padding: 0.7em 3em;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
}

.seo-service-description {
  background: white;
  padding-bottom: 1em;
}

.description-title {
  text-align: center;
  font-weight: bold;
  margin: 1.5em 0;
}

.stack-tab {
  margin: 0 auto;
}
.stack-tab ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.stack-tab ul li {
  cursor: pointer;
  width: 25%;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 7px 0px rgba(161, 161, 161, 1);
  padding: 0.5em 3em;
  display: block;
  background: white;
  border-radius: 10px;
  margin-right: -20px;
}

.stack-tab ul li.active {
  background: #f5f5f5;
}

.stack-tab ul li a,
.stack-tab ul li a.active {
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.stack-tab-content {
  margin: 2em auto;
  padding: 2em 0;
  background: url("../img/SEOArtboard-1_03.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stack-tab-content p {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.list-services {
  list-style: circle;
}

.btn-see-more,
.btn-see-more:hover,
.btn-see-more:focus {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #ffca13;
  padding: 1em;
  width: 60%;
  margin: 2em auto;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
}

.list-seo-services {
  padding: 40px 0 0px 0;
  border-bottom: 4px solid #f5f5f5;
}

@media (max-width: 480px) {
  .btn-see-more,
  .btn-see-more:hover,
  .btn-see-more:focus {
    width: 100%;
    margin: 1em auto;
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .btn-see-more,
  .btn-see-more:hover,
  .btn-see-more:focus {
    width: 80%;
    text-decoration: none;
  }
  .list-seo-services {
    /* background: url("../img/img-seo-maintenance/seo-service-pattern.png"); */
    background-size: cover;
    background-position: -178px top;
    background-repeat: no-repeat;
    background-color: #fff;
    /* height: 850px; */
    padding: 85px 0 50px 0;
  }
}

@media (min-width: 1366px) {
  .list-seo-services {
    background-position: -130px top;
  }
}

@media (min-width: 1440px) {
  .list-seo-services {
    background: #fff;
  }
}

.seo-services {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 2px rgba(11, 34, 47, 0.2);
  box-shadow: 0 0 3px 2px rgba(11, 34, 47, 0.2);
  padding: 20px;
  width: 180px;
  border-radius: 10px;
  min-height: 180px;
  margin: 30px auto;
}

.seo-services * {
  pointer-events: none;
}

@media (min-width: 768px) {
  .seo-services:hover {
    background-color: #e4e4e4;
    cursor: pointer;
  }

  .seo-services.active {
    position: relative;
    background-color: #e4e4e4;
  }

  .seo-services.active::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }

  .seo-services.row-1.active::after {
    bottom: -30px;
    border-bottom: solid 20px #efefef;
  }

  .seo-services.row-2.active::after {
    top: -30px;
    border-top: solid 20px #efefef;
  }
}

.seo-services img {
  margin: 0 auto 15px auto;
}

.seo-services span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.seo-services p {
  margin-top: 15px;
  text-align: justify;
  text-justify: inter-word;
}

.seo-services-bubble {
  background-color: #efefef;
  border-radius: 75px;
  min-height: 125px;
  padding: 25px 65px;
  margin: 0 30px;
}

.seo-services-bubble p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
}

@media (max-width: 767px) {
  .top-tabs.sticky-top{
    padding-left:0;
    margin-left: 0;
  }
  
  .seo-services {
    max-width: 320px;
    width: auto;
  }

  .seo-services:hover {
    background-color: #fff;
    cursor: initial;
  }

  .seo-services span {
    font-size: 16px;
  }
}

.black-separation {
  width: 100%;
  height: 100px;
  background-color: #000;
}

.banner-black-white-hat {
  background: url("../img/img-seo-maintenance/bg-yellow-pattern.png");
  background-position: center;
  background-size: cover;
  padding: 50px 0;
  min-height: 400px;
}

.banner-black-white-hat h3 {
  font-size: 30px;
}

@media (max-width: 767px) {
  .banner-black-white-hat {
    min-height: 450px;
  }
  .banner-black-white-hat .equal-height > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .banner-black-white-hat .equal-height > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .banner-black-white-hat h3 {
    font-size: 26px;
    margin-top: 35px;
    text-align: center;
  }
}

.row.equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* padding-bottom: 3em; */
}

.center-v-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.crowd-banner-container {
  background: url("../img/img-seo-maintenance/bg-crowd.png");
  background-position: center;
  background-size: cover;
  z-index: 100;
}

.crowd-banner {
  position: relative;
  background: url("../img/img-seo-maintenance/crowd.png");
  background-position: center;
  background-size: contain;
  min-height: 500px;
  max-width: 800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-top: 225px;
}

.crowd-banner p {
  margin: 07px 10% 0 14%;
  background-color: #fff;
  padding: 4px 15px 12px 8px; 
  font-size: 11px;
}

.logique-description {
  background: #f1f0f0;
}

.three-languages {
  background-image: url("../img/img-seo-optimization/3-language.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3em;
}

.three-languages p {
  font-size: 30px;
  color: black;
  padding-left: 0.7em;
  border-left: 5px solid #f2bf10;
  margin-top: 2em;
}

.img-discuss {
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}
.mission {
  background-image: url("../img/img-seo-optimization/mission-bg.png");
  background-size: cover;
  background-position: center top;
  min-height: 300px;
}

.mission p {
  font-size: 20px;
  line-height: 1.2;
  padding: 3em 1.5em 3em 1em;
  color: black;
}

.three-languages {
  background-image: url("../img/img-seo-optimization/3-language.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 3em;
}

.three-languages p {
  font-size: 30px;
  color: black;
  padding-left: 0.7em;
  border-left: 5px solid #f2bf10;
  margin-top: 2em;
}

.three-things {
  padding: 2em 0;
  margin-top: 2em;
}

.three-things-wrapper{
  margin: 4em 0;
  display: table;
  border-collapse: separate;
  border-spacing: 1em 0;
}

.three-things-wrapper .content {
  border-radius: 10px;
  background: white;
  padding: 1.7em;
  text-align: center;
  font-size: 18px;
  margin: 3em auto;
  color: black;
  /* min-height: 640px; */
  display: table-cell;
  float: none;
  border: 2px solid #dfdfdf;
}

/* .three-things .content {
  border-radius: 10px;
  background: white;
  padding: 1.7em;
  text-align: center;
  font-size: 18px;
  margin: 3em 0;
  color: black;
  min-height: 640px;
  border: 2px solid #dfdfdf;
} */

.three-things .content .img-rounded-shadow {
  background: white;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.75);
  margin-top: -5em;
  margin-bottom: 1em;
}


@media (max-width: 1199px) {
  .three-things .content {
    min-height: 200px;
  }
  .three-things-wrapper{
    display: flex;
    flex-direction: column;
  }
  .top-tabs .nav-tabs.nav-justified > li > a,
  .top-tabs-mobile .nav-tabs.nav-justified > li > a{
    height: 100%;
  }
}

@media (min-width: 421px) {
  .crowd-banner p {
    margin: 0 calc(8% + 1px) 0 13%;
    font-size: 12px;
  }
}

@media (min-width: 620px) {
  .crowd-banner p {
    padding: 10px 12px 20px 12px;
  }
  .crowd-banner p {
    margin: 0 11% 0 15%;
  }
}

@media (min-width: 768px) {
  .crowd-banner p {
    margin: 0 calc(8% + 2px) 0 12%;
  }
}

@media (min-width: 880px) {
  .crowd-banner p {
    margin: 0 10% 0 14%;

  }
}

@media (min-width: 992px) {
  .crowd-banner p {
    margin: 0 13% 0 17%;
    font-size: 13px;
  }
}

@media (min-width: 1101px) {
  .crowd-banner p {
    margin: 0 14% 0 18%;
    font-size: 14px;
  }
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.black-white-hat-seo {
  padding: 4em 0;
  background: white;
}

.reason-black-hat-bad {
  position: relative;
  background-color: #000;
  padding: 20px 50px;
}

.reason-black-hat-bad,
.reason-black-hat-bad * {
  z-index: 10;
}

@media (min-width: 992px) {
  .reason-black-hat-bad {
    width: 80%;
  }

  .reason-black-hat-bad::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -ms-transform: skew(-28deg, 0deg);
    -webkit-transform: skew(-28deg, 0deg);
    transform: skew(-28deg, 0deg);
  }
}

.reason-black-hat-bad p {
  color: #fff;
}

@media (max-width: 767px) {
  .reason-black-hat-bad {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .reason-black-hat-bad {
    margin-right: 0;
  }
  .reason-black-hat-bad p {
    margin-top: 25px;
  }

  .stack-tab ul {
    flex-direction: column;    
  }
  .stack-tab ul li{
    width: 100%;
    margin: 0.2em 0;
  }
}

.seo-hat-characteristics {
  margin: 50px auto;
}

.card-info {
  border: solid 2px #dbd8d8;
  border-radius: 10px;
  padding: 20px;
  margin: 25px auto;
  max-width: 440px;
}

@media (min-width: 768px) {
  .card-info {
    margin: 0 auto;
    height: 100%;
  }
}

.card-info h4 {
  position: relative;
  margin-bottom: 20px;
}

.card-info h4::after {
  content: "";
  background-color: #ffca13;
  width: 75px;
  height: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
}

.card-info li {
  max-width: 200px;
  margin: 10px auto;
}

.is-it-important {
  background-color: #fdefd2;
  padding: 30px 0;
  text-align: center;
}

.is-it-important h3,
.is-it-important span {
  max-width: 600px;
  margin: 0 auto;
}

.is-it-important h3 {
  font-size: 26px;
}

.is-it-important span {
  display: inline-block;
  font-size: 24px;
}

.is-it-important p {
  max-width: 400px;
  margin: 20px auto;
}

#top-seo-portfolio h2{
  padding-top: 4em;
  text-align: center;
}

.logiques-work {
  background-image: url("../img/img-seo-optimization/yellow-bg-2.png");
  background-size: cover;
  background-position: center top;
  min-height: 740px;
}

.logiques-work .title {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  background: none;
}

.logiques-work .title h3 {
  border-left: 5px solid #f2bf10;
  border-right: 5px solid #f2bf10;
  padding: 0 1.2em;
  display: inline;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: black;
}

.category {
  padding-top: 3em;
}

.category .img-industries {
  background: white;
  padding: 2em;
  margin-top: 2em;
  border-radius: 10px;
  border: 3px solid #f2c012;
  -webkit-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
}

.category .industry-name {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  color: black;
}

.category .industry.active .img-industries {
  background: #f2c012;
  border: 3px solid white;
}

.category .industry.active .industry-name {
  color: white;
}

.industry-content {
  padding: 2em 0 3em;
  display: none;
}

.industry-content .industry-text {
  border: 1px solid white;
  padding: 2em;
  border-radius: 20px;
}
.industry-content .industry-text p {
  color: black;
  font-size: 17px;
  line-height: 1.4;
  border-left: 5px solid #cca10c;
  padding-left: 1em;
}

.industry-content.active {
  display: inherit;
}

.industry-mobile {
  display: none;
}

.industry-mobile .img-industries {
  box-shadow: none;
  border: none;
}

.bottom-banner {
  background-image: url("../img/img-seo-optimization/bottom-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1em 0;
}

@media (max-width: 767px) {
  .banner-text-wrapper h1,
  .banner-text-wrapper p {
    padding: 5px 5% 5px 10%;
  }
  .card .card-ribbon h3 {
    font-size: 18px;
  }
  .industry-mobile {
    display: block;
    border: 1px solid white;
    background: white;
    margin: 2em 0;
    padding: 1em;
    border-radius: 20px;
  }
  .industry-mobile .industry-name {
    font-weight: bold;
    padding: 0;
    font-size: 25px;
  }
  .industry-mobile .industry-content {
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 1em;
  }

  .industry,
  .industry-content,
  .industry-content.active {
    display: none;
  }
}

@media (max-width: 991px) {
  .img-fly-paper {
    top: 80px;
  }
  .img-web-illustration {
    display: none;
  }
  .card {
    min-height: 600px;
  }
  .black-white-hat-seo p {
    margin-top: 25px;
  }
  .three-things-wrapper{
    display: flex;
    flex-direction: column;
  }
  .cards{
    display: flex;
    flex-direction: column; 
  }
}

/* new design */
.content-area__seo .container__ {
  padding-top: 0;
  padding-bottom: 0;
}

.content-area__seo h1,
.content-area__seo h2 {
  font-size: 28px;
  font-weight: 800 !important;
}

.content-area__seo h3 {
  font-size: 24px;
  font-weight: 800 !important;
}

.content-area__seo p {
  font-size: 20px;
}
/* end new design */

/* seo banner */
.content-area__seo .seo__banner {
  background: url('/en/services/digital-marketing/img/img-seo-optimization/banner-seo-bg.png') left/cover no-repeat, #f8f8f8;
  margin-top: 65px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.seo__banner img {
  margin: 10px auto;
}
/* end seo banner */

/* override pagination */
.seo__pagination,
.seo__pagination .breadcrumb {
  background-color: #000 !important;
}

.seo__pagination .breadcrumb {
  border-bottom: none;
}

.seo__pagination .breadcrumb > li > a,
.seo__pagination .breadcrumb > li + li:before {
  color: #fff;
}

.seo__pagination .breadcrumb > li.active > a {
  color: #ffca13;
}

.seo__pagination .breadcrumb--update-design {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}
/* end override pagination */

/* seo solution */
.seo__solution {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('/en/services/digital-marketing/img/img-seo-optimization/solution-bg.png') bottom/contain no-repeat;
}

.solution__wrapper > .row {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.seo__solution .solution__main > .main__cloud {
  background: url('/en/services/assets/img/img-digital-marketing/cloud.svg') center/contain no-repeat;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #bfbfbf;
}

.seo__solution .solution__main h2 {
  margin-bottom: 10px;
}

.seo__solution .solution__main p {
  margin-bottom: 30px;
}

.seo__solution .solution__main p > span {
  background-color: #ffca13;
  border-radius: 5px;
  font-weight: 800 !important;
}

.seo__solution .solution__wrapper img {
  height: 220px;
  width: 100%;
  max-width: 435px;
  border-radius: 10px;
  margin: auto;
}

@media (max-width: 991.98px) {
  .solution__wrapper > .row {
    flex-wrap: wrap;
  }
  .solution__wrapper > .row p {
    text-align: center;
  }
  .seo__solution .solution__wrapper img {
    max-width: 350px;
    margin: 0 auto 30px;
  }
  .seo__solution .solution__wrapper .order-sm-2 {
    order: 2;
  }
}
/* end seo solution */

.seo__effort {
  padding-top: 55px;
  padding-bottom: 55px;
  background: url('/en/services/digital-marketing/img/img-seo-optimization/effort-bg.png') center/cover no-repeat;
}

/* seo services */
.seo__services {
  padding-top: 40px;
  padding-bottom: 40px;
}

.seo__services h2 {
  margin-bottom: 30px;
}

.seo__services .services__pills {
  margin-bottom: 60px;
}

.seo__services .nav-pills {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.seo__services .nav-pills > li {
  flex-grow: 1;
}

.seo__services .services__pills .nav-pills > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  height: 45px;
  min-width: 150px;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: #eeeeee;
  border: solid 1.5px #eee;
  color: #aaaaaa;
  font-weight: 800 !important;
}

.seo__services .services__pills .nav-pills > li:not(:last-child) > a {
  margin-right: 10px;
}

.seo__services .services__pills .nav-pills > li > a:hover {
  color: #000;
  border-color: #000;
}

.seo__services .services__pills .nav-pills > li.active > a:hover,
.seo__services .services__pills .nav-pills > li.active > a {
  background-color: #ffca13;
  border-color: #ffca13;
  color: #000;
}

.seo__services .tab-content {
  margin-bottom: 30px;
}

.seo__services .tab-content > div > .row {
  display: flex;
}

.seo__services section:not(.services__contribution) .tab-content__text p,
.seo__services .tab-content__text ul {
  margin-bottom: 30px;
}

.seo__services .tab-content__text ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: underline;
  font-size: 20px;
}

.seo__services .tab-content__text ul > li > a > span {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: solid 2px #277ef1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-weight: 800 !important;
  font-size: 10px;
}

.seo__services .tab-content__text ul > li:hover > a {
  color: #277ef1;
}

.seo__services .tab-content__text ul > li.active > a > span,
.seo__services .tab-content__text ul > li:hover > a > span {
  background-color: #277ef1;
  color: #fff;
}

.seo__services .tab-content__img > div {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 40px 80px;
  max-width: 400px;
  margin: auto;
  background: url('/en/services/digital-marketing/img/img-seo-optimization/service-pills-bg.png') bottom/cover no-repeat;
}

.seo__services .services__contribution .services__pills .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1199.98px) {
  .seo__services .nav-pills > li {
    flex-basis: 19%;
    max-width: 20%;
  }
  .services__contribution .nav-pills > li {    
    flex-basis: auto;
    max-width: unset;
  }
  .seo__services .services__pills .nav-pills > li:not(:last-child) > a {
    margin-right: 0;
  }
}

@media (max-width: 991.98px) {
  .seo__services .nav-pills > li {
    flex-basis: 33%;
    max-width: 33%;
  }
  .services__contribution .nav-pills > li {    
    flex-basis: 24%;
    max-width: 25%;
  }
  .seo__services .tab-content > div > .row {
    flex-wrap: wrap;
  }
  .seo__services .tab-content__img > div {
    min-height: 190px;
    padding-bottom: 20px;
  }
  .services__contribution .contribution__img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px;
  }
}

@media (max-width: 767.98px) {
  .seo__services .nav-pills > li {
    flex-basis: 49%;
    max-width: 50%;
  }
  .seo__services .services__pills .nav-pills > li > a {
    min-width: unset;
  }
}
/* end seo services */