@font-face {
  font-family: "M Plus 1p";
  src: url("../fonts/M_PLUS_1p/MPLUS1p-Regular.ttf");
}
@font-face {
  font-family: "M Plus 1p Medium";
  src: url("../fonts/M_PLUS_1p/MPLUS1p-Medium.ttf");
}
@font-face {
  font-family: "M Plus 1p Bold";
  src: url("../fonts/M_PLUS_1p/MPLUS1p-Bold.ttf");
}
@font-face {
  font-family: "M Plus 1p Extra Bold";
  src: url("../fonts/M_PLUS_1p/MPLUS1p-ExtraBold.ttf");
}

.jp-page *,
body.jp-page {
    font-family: "M Plus 1p";
}