@import url(https://fonts.googleapis.com/css?family=Raleway);
html,
body {
	font-family: 'Raleway', 'sans-serif';
	line-height: 1.7;
	background-color: #fff;
	overflow-x: hidden;
	color: #000;
}
a,b,body,caption,center,dd,div,em,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,label,li,menu,nav,ol,p,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,u,ul,video {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.7;
}

ul {
	list-style: none;
}

.wrapper{
  max-width: 1600px;
  position: relative;
  margin: 0 auto;
}

.wrapper .navbar-collapse{
  padding: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: -1px;
}

@media (max-width: 767px) {
	body{
	  padding:0;
	}
}

a:hover {text-decoration: none;}

/* NAVIGATION */
.logique-nav {
  width: 95px;
  background: rgba(255, 202, 19, .9);
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  perspective: 1000px;
  padding: 0;
  font-weight: 300;
  transition: all .25s;
  overflow: auto;
  /* left: 0; */
}
.logique-nav .text-center {
  padding: 5px 10px;
  line-height: normal;
}
.logique-nav .text-center.active,
.logique-nav .text-center.active:focus,
.logique-nav .text-center.active:hover {
  background: #212425
}
.logique-nav .text-center:focus,
.logique-nav .text-center:hover {
  background: #666
}

.logique-nav .text-center:focus a,
.logique-nav .text-center:hover a {
  color: #fff
}
.logique-nav a {
  color: #000;
  text-decoration:none!important;
  font-size: 12px;
}
.logique-nav .text-center.active a,
.logique-nav .text-center.active:focus a,
.logique-nav .text-center.active:hover a {
    color: #fff
}
.margin-for-nav {
    margin-top: 0
}
@media (min-width:1200px) {
  .margin-for-nav {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: relative
  }
}
.logique-nav.in-jp a {
  font-size: 12px
}
@media screen and (max-width:979px) {
  .logique-nav {
      background: rgba(255, 202, 19, 1)
  }
}
@media (max-width:767px) {
  .logique-nav {
    margin-right: -150px;
    margin-left: auto;
    position: relative
  }
  .collapse.in .logique-nav {
    margin-right: 0;
    padding-top: 0
  }
}
.img-about,
.img-blog,
.img-career,
.img-contact,
.img-home,
.img-portfolio,
.img-services , .img-product {
  height: 44px;
  width: 44px
}
.img-home {
  margin: auto;
  background: url(/img/nav-img.png) -2px -4px no-repeat
}
.logique-nav .text-center.active .img-home,
.logique-nav .text-center.active:focus .img-home,
.logique-nav .text-center.active:hover .img-home,
.logique-nav .text-center:focus .img-home,
.logique-nav .text-center:hover .img-home {
  background: url(/img/nav-img-white.png) -2px -4px no-repeat
}
.img-about {
  margin: auto;
  background: url(/img/nav-img.png) -2px -62px no-repeat
}
.logique-nav .text-center.active .img-about,
.logique-nav .text-center.active:focus .img-about,
.logique-nav .text-center.active:hover .img-about,
.logique-nav .text-center:focus .img-about,
.logique-nav .text-center:hover .img-about {
  background: url(/img/nav-img-white.png) -2px -62px no-repeat
}
.img-portfolio {
  margin: auto;
  background: url(/img/nav-img.png) -2px -123px no-repeat
}
.logique-nav .text-center.active .img-portfolio,
.logique-nav .text-center.active:focus .img-portfolio,
.logique-nav .text-center.active:hover .img-portfolio,
.logique-nav .text-center:focus .img-portfolio,
.logique-nav .text-center:hover .img-portfolio {
  background: url(/img/nav-img-white.png) -2px -123px no-repeat
}
.img-services {
  margin: auto;
  background: url(/img/nav-img.png) -2px -184px no-repeat
}
.logique-nav .text-center.active .img-services,
.logique-nav .text-center.active:focus .img-services,
.logique-nav .text-center.active:hover .img-services,
.logique-nav .text-center:focus .img-services,
.logique-nav .text-center:hover .img-services {
  background: url(/img/nav-img-white.png) -2px -184px no-repeat
}
.img-career {
  margin: auto;
  background: url(/img/nav-img.png) -2px -245px no-repeat
}
.logique-nav .text-center.active .img-career,
.logique-nav .text-center.active:focus .img-career,
.logique-nav .text-center.active:hover .img-career,
.logique-nav .text-center:focus .img-career,
.logique-nav .text-center:hover .img-career {
  background: url(/img/nav-img-white.png) -2px -245px no-repeat
}
.img-contact {
  margin: auto;
  background: url(/img/nav-img.png) -2px -308px no-repeat
}
.logique-nav .text-center.active .img-contact,
.logique-nav .text-center.active:focus .img-contact,
.logique-nav .text-center.active:hover .img-contact,
.logique-nav .text-center:focus .img-contact,
.logique-nav .text-center:hover .img-contact {
  background: url(/img/nav-img-white.png) -2px -308px no-repeat
}
.img-blog {
  margin: auto;
  background: url(/img/nav-img.png) -2px -374px no-repeat
}
.logique-nav .text-center.active .img-blog,
.logique-nav .text-center.active:focus .img-blog,
.logique-nav .text-center.active:hover .img-blog,
.logique-nav .text-center:focus .img-blog,
.logique-nav .text-center:hover .img-blog {
  background: url(/img/nav-img-white.png) -2px -374px no-repeat
}

.backdrop-test {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: .7;
  display: none;
  top: 0;
  left: 0;
}
.img-product {
  margin: auto;
  background: url(/img/nav-img.png) -2px -440px no-repeat;

}
.logique-nav .text-center.active .img-product,
.logique-nav .text-center.active:focus .img-product,
.logique-nav .text-center.active:hover .img-product,
.logique-nav .text-center:focus .img-product,
.logique-nav .text-center:hover .img-product {
  background: url(/img/nav-img-white.png) -2px -440px no-repeat
}

@media (max-width: 767px) {
  .nav-lp .navbar-collapse {
        padding: 0;
        position: fixed;
        width: 100%;
        height: 100% !important;
        z-index: 99;
    }
}

.card section{margin-left:0}
.nav-lp .navbar-toggle.collapsed {
  background-color: #ffca13!important;
  position: relative!important;
  right: 0!important;
  top: 40px;
}
.nav-lp .navbar-toggle {
  background-color: #ffca13!important;
  z-index: 9999;
  position: fixed;
  right: 80px;
  border-radius: 0;
  height: 34px;
  top: -7px;
}
.nav-lp .navbar-toggle.collapsed .icon-bar.first {transform: rotate(0)!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.second {background: #000!important;}
.nav-lp .navbar-toggle.collapsed .icon-bar.third {transform: rotate(0)!important;margin-top: 4px!important;}
.nav-lp .navbar-toggle .icon-bar {background: #000;transition: all .5s;}
.nav-lp .navbar-toggle .icon-bar.first {transform: rotate(45deg);}
.nav-lp .navbar-toggle .icon-bar.second {background: 0 0;}
.nav-lp .navbar-toggle .icon-bar.third {transform: rotate(-45deg);margin-top: -8px;}
/*End Navigation*/
/*Footer*/
footer {
  z-index:5;
  padding: 30px 0 10px;
  background-color: #212425;
  position: relative;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-align: justify
}

footer h5,
footer h6 {
  font-size: 14px;
  line-height: 30px
}

.footer-title,
.link-footer-nav,
.title-bg-grey {
  font-weight: 700
}
.link-footer-nav ul li{
  list-style: none;

}
.link-footer-nav ul li  ul{
  padding-left: 20px;
}
.link-footer-nav li a{
  font-weight: normal;
  padding-bottom: 10px;
  display: block;
}
.link-footer-nav .have-submenu a{
  padding: 8px 0;
  line-height: normal;
}
.link-footer-nav > ul > li{
  border-bottom: 1px dotted #666;
}
.link-footer-nav > ul > li > a{
  padding: 8px 0;
  line-height: normal;
}

.link-footer-nav > ul > li.have-submenu > ul > li:first-child  > a{
  padding-top: 0;
}
.link-footer-nav > ul > li.have-submenu > ul > li:last-child  > a{
  padding-bottom: 8px;
}
.link-footer-nav .have-submenu li.have-submenu li a{
  font-size: 12px;
  padding: 1px 0;

}
.link-footer-nav .have-submenu li li {
  list-style: disc;

}
footer a {
  color: #fff!important
}

footer a:hover {
  color: #ffca13!important
}

.link-footer {
  line-height: 30px;
  text-align: left
}

@media (min-width: 768px) {
  .link-footer p {
      margin-bottom: 45px;
  }
}

.medsos-new .fa{font-size:35px;margin-top:10px}
.medsos-new .fa-facebook-official:hover{color:#3b5999}
.medsos-new .fa-twitter:hover{color:#0084ff}
.medsos-new .fa-instagram:hover{color:#e4405f}
.medsos-new .fa-linkedin-square:hover{color:#0077B5}
ul.medsos-new li{
  display: inline-block;
  padding:0 5px;
}

ul.medsos-new{
  padding: 0;
}
ul.medsos-new li a{
  font-size: 26px;
}

.footer-title {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .footer-title {
    margin-top: 20px;
    border-bottom: 2px solid #ffca13;
    padding-bottom: 3px;
    display: inline-block;
  }
}

.copyright {
  font-size: 12px
}
/*End Footer*/

.div-top{padding:40px 0 60px;background:#ffca13;}
.div-top .title{font-size:30px;color:#fff;padding:19.5px;background:#000;position:relative}
.div-top .title img{position: absolute;left: 0;top: -19.5px;}

.language-btn {position: absolute;right: 30px;top: 66px;z-index: 9;}
.list-inline>li a {color:#fff;}
.list-inline>li.active {border: solid 2px #fff;border-radius: 1em;padding: 2px 5px;}
.list-inline>li.active a {color:#fff;}

.content-area{
  margin-left: 95px;
}

.breadcrumb {
    padding: 8px 4%;
    border-radius: 0;
}
.breadcrumb > li + li:before {
    color: black;
    content: "> ";
    padding: 0;
}
.breadcrumb > li > a{
    color: black;
}
.breadcrumb > li > a:hover{
    text-decoration: underline;
}
.breadcrumb > li.active > a{
    color: #ffca13;
}

@media (max-width: 767px){
  .div-top .title {font-size: 18px;color: #fff;padding: 0;background: #000;position: relative;}
	.div-top .title .text-center {text-align:left!important}
	.div-top .title img {position: relative;left: 0;top: 0;margin-right: 10px;width: 65px;}
    .language-btn {top: 6px;right: 6px;}
    .content-area{
      margin-left: 0px;
    }
    .breadcrumb {
        padding: 8px 15px;
    }
}

.banner-seo-service {
	padding: 50px 0;
}

.banner-seo-service h2 {
	color: #000;
	font-size: 22px;
	margin-bottom: 10px;
}

.banner-seo-service p {
	font-size: 16px;
}

.banner-seo-service p strong {
	color: #000;
}

.seo-services {
	background-color: #fff;
	box-shadow: 0 0 3px 2px rgba(11, 34, 47, 0.2);
	padding: 20px;
	border-radius: 10px;
	width: 180px;
	min-height: 180px;
	margin: 30px auto;
}

.seo-services img {
	margin: 0 auto 15px auto;
}

.seo-services span {
	display: block;
	text-align: center;
}

.black-separation {
	width: 100%;
	height: 100px;
	background-color: #000;
}

.banner-black-white-hat {
	background: url('../img/img-seo-maintenance/bg-yellow-pattern.png');
	background-position: center;
	background-size: cover;
	padding: 50px 0;
	min-height: 400px;
}

.banner-black-white-hat h3 {
	font-size: 28px;
}

.row.equal-height {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.center-v-h {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.crowd-banner-container {
	background: url('../img/img-seo-maintenance/bg-crowd.png');
	background-position: center;
	background-size: cover;
	z-index: 100;
}

.crowd-banner {
	position: relative;
	background: url('../img/img-seo-maintenance/crowd.png');
	background-position: center;
	background-size: contain;
	min-height: 400px;
	background-repeat: no-repeat;
	padding-top: 200px;
}

.crowd-banner p {
	/* width: 100%; */
	margin: 0 10% 0 15%;
	background-color: #fff;
	padding-bottom: 20px;
	font-weight: 600;
	/* margin: 0 20% 0 23%; */
}

.display-flex {
	display: flex;
	flex-direction: row;
}

.reason-black-hat-bad {
	background-color: #000;
	margin-right: 15%;
	padding: 20px 50px;
}

.reason-black-hat-bad p {
	color: #fff;
}

@media (max-width: 767px) {
	.reason-black-hat-bad {
			padding: 20px;
	}
}

@media (max-width: 991px) {
	.reason-black-hat-bad {
		margin-right: 0;
	}
	.reason-black-hat-bad p {
		margin-top: 25px;
	}
}

.seo-hat-characteristics {
	margin: 50px 0;
}

.card-info {
	border: solid 2px #dbd8d8;
	border-radius: 10px;
	padding: 20px;
	height: 100%;
	max-width: 440px;
}

.card-info h4 {
	position: relative;
	margin-bottom: 20px;
}

.card-info h4::after {
	content: '';
	background-color: #ffca13;
	width: 75px;
	height: 2px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
}

.card-info li {
	max-width: 200px;
	margin: 10px auto;
}

.is-it-important {
	background-color: #fdefd2;
	padding: 30px 0;
	text-align: center;
}

.is-it-important h3,
.is-it-important span {
	max-width: 600px;
	margin: 0 auto;
}

.is-it-important h3 {font-size: 26px;}

.is-it-important span {
	display: inline-block;
	font-size: 24px;
}

.is-it-important p {
	max-width: 400px;
	margin: 20px auto;
}
